In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0      v purrr   0.3.4
v tibble  3.1.6      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
sales_Data <- read.csv('competitive-data-science-predict-future-sales/sales_train.csv')
testData <- read.csv('competitive-data-science-predict-future-sales/test.csv')
itemsData <- read.csv('competitive-data-science-predict-future-sales/items.csv')
shopsData <- read.csv('competitive-data-science-predict-future-sales/shops.csv')
itemsCatData <- read.csv('competitive-data-science-predict-future-sales/item_categories.csv')

In [3]:
sales_Data

        date       date_block_num shop_id item_id item_price item_cnt_day
1       02.01.2013 0              59      22154    999.00     1
2       03.01.2013 0              25       2552    899.00     1
3       05.01.2013 0              25       2552    899.00    -1
4       06.01.2013 0              25       2554   1709.05     1
5       15.01.2013 0              25       2555   1099.00     1
6       10.01.2013 0              25       2564    349.00     1
7       02.01.2013 0              25       2565    549.00     1
8       04.01.2013 0              25       2572    239.00     1
9       11.01.2013 0              25       2572    299.00     1
10      03.01.2013 0              25       2573    299.00     3
11      03.01.2013 0              25       2574    399.00     2
12      05.01.2013 0              25       2574    399.00     1
13      07.01.2013 0              25       2574    399.00     1
14      08.01.2013 0              25       2574    399.00     2
15      10.01.2013 0              25       2574    399.00     1
16      11.01.2013 0              25       2574    399.00     2
17      13.01.2013 0              25       2574    399.00     1
18      16.01.2013 0              25       2574    399.00     1
19      26.01.2013 0              25       2574    399.00     1
20      27.01.2013 0              25       2574    399.00     1
21      09.01.2013 0              25       2593    279.00     1
22      16.01.2013 0              25       2604    299.00     1
23      27.01.2013 0              25       2604    299.00     1
24      27.01.2013 0              25       2607    279.00     1
25      29.01.2013 0              25       2607    279.00     1
26      27.01.2013 0              25       2609   1699.00     1
27      06.01.2013 0              25       2548   1708.95     1
28      26.01.2013 0              25       2611    299.00     1
29      02.01.2013 0              25       2546    299.00     1
30      06.01.2013 0              25       2515   1649.00     1
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
2935820 16.10.2015 33             25      7789    1799.0     1
2935821 22.10.2015 33             25      7790     799.0     1
2935822 22.10.2015 33             25      7791     899.5     1
2935823 17.10.2015 33             25      7632    2310.0     1
2935824 26.10.2015 33             25      7487     299.0     1
2935825 14.10.2015 33             25      7029     999.0     1
2935826 23.10.2015 33             25      7460     299.0     1
2935827 04.10.2015 33             25      7233     599.0     1
2935828 18.10.2015 33             25      7308     349.0     1
2935829 21.10.2015 33             25      7233     479.0     1
2935830 03.10.2015 33             25      7233     599.0     1
2935831 11.10.2015 33             25      7286     299.0     1
2935832 22.10.2015 33             25      7187     299.0     1
2935833 26.10.2015 33             25      7484     299.0     1
2935834 22.10.2015 33             25      7308     349.0     1
2935835 29.10.2015 33             25      7235     298.0     1
2935836 18.10.2015 33             25      7327     349.0     1
2935837 22.10.2015 33             25      7327     349.0     1
2935838 24.10.2015 33             25      7328     249.0     1
2935839 17.10.2015 33             25      7338     349.0     1
2935840 24.10.2015 33             25      7315     399.0     1
2935841 31.10.2015 33             25      7409     299.0     1
2935842 11.10.2015 33             25      7393     349.0     1
2935843 10.10.2015 33             25      7384     749.0     1
2935844 09.10.2015 33             25      7409     299.0     1
2935845 10.10.2015 33             25      7409     299.0     1
2935846 09.10.2015 33             25      7460     299.0     1
2935847 14.10.2015 33             25      7459     349.0     1
2935848 22.10.2015 33             25      7440     299.0     1
2935849 03.10.2015 33             25      7460     299.0     1

In [4]:
sales_Data$date<-as.Date(sales_Data$date,format = "%d.%m.%Y")
sales_Data<-sales_Data %>% arrange(sales_Data$date)

In [5]:
train_monthly<-sales_Data%>%inner_join(itemsData,by = "item_id")%>%filter((item_price<5000)&(item_cnt_day < 1000)&(item_price > 0) & (item_cnt_day >= 0))%>%transmute(date,date_block_num,shop_id,item_category_id, item_id, item_price, item_cnt_day,revenue=item_price*item_cnt_day)
train_monthly[train_monthly['shop_id'] == 0, 'shop_id'] = 57
train_monthly[train_monthly['shop_id']== 1, 'shop_id'] = 58
train_monthly[train_monthly['shop_id'] == 11, 'shop_id'] = 10
train_monthly[train_monthly['shop_id'] == 40, 'shop_id'] = 39
train_monthly

        date       date_block_num shop_id item_category_id item_id item_price
1       2013-01-01 0              19      40               18976    399
2       2013-01-01 0              19      55               18284    199
3       2013-01-01 0              19      55               18320    199
4       2013-01-01 0              19      55               18329    299
5       2013-01-01 0              19      62               19367    399
6       2013-01-01 0              19      40               18823    299
7       2013-01-01 0              19      30               19413    399
8       2013-01-01 0              19      62               19366    399
9       2013-01-01 0              19      40               18721    149
10      2013-01-01 0              19      40               18638    149
11      2013-01-01 0              19      30               21996    224
12      2013-01-01 0              19      83               22088     79
13      2013-01-01 0              19      40               21584    149
14      2013-01-01 0              19      72               20388   1599
15      2013-01-01 0              19      40               20236    299
16      2013-01-01 0              19      40               20237    299
17      2013-01-01 0              19      30               20946    449
18      2013-01-01 0              19      40               21422    149
19      2013-01-01 0              19      40               21424    399
20      2013-01-01 0              19      40               14038    149
21      2013-01-01 0              19      40               14083    399
22      2013-01-01 0              19      40               16662    149
23      2013-01-01 0              19      55               16934    189
24      2013-01-01 0              19      37               16451    499
25      2013-01-01 0              19      55               16457    199
26      2013-01-01 0              19      19               17707    899
27      2013-01-01 0              19      40               15533    349
28      2013-01-01 0              19      30               16333    599
29      2013-01-01 0              19      40               15585    149
30      2013-01-01 0              19      19                3686    899
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
2894862 2015-10-31 33             25      42                8543   1400
2894863 2015-10-31 33             25      40                8692    449
2894864 2015-10-31 33             25      40                8397    399
2894865 2015-10-31 33             25      20               10202   1199
2894866 2015-10-31 33             25      30               10207   1199
2894867 2015-10-31 33             25      40                9927    399
2894868 2015-10-31 33             25      70                9402    199
2894869 2015-10-31 33             25      70                9356    399
2894870 2015-10-31 33             25      28               10200    399
2894871 2015-10-31 33             25      28               10201    799
2894872 2015-10-31 33             25      37                9147    298
2894873 2015-10-31 33             25      58                6041   2749
2894874 2015-10-31 33             25      58                6345   1849
2894875 2015-10-31 33             25      55                6356    349
2894876 2015-10-31 33             25      19                6928   1499
2894877 2015-10-31 33             25      30                6503   1999
2894878 2015-10-31 33             25      20                6619   1398
2894879 2015-10-31 33             25      58                6837   1999
2894880 2015-10-31 33             25       5                5583    699
2894881 2015-10-31 33             25       3                5655   1290
2894882 2015-10-31 33             25       3                5675    249
2894883 2015-10-31 33             25      24                6070   1999
2894884 2015-10-31 33             25       7                7984    298
2894885 2015-10-31 33             25      20                7223   3999
2894886 2015-10-31 33             25      19                7215   1199
2894887 2015-10-31 33             25      30                7087    699
2894888 2015-10-31 33             25      20                7172   1499
2894889 2015-10-31 33             25      30                7202    199
2894890 2015-10-31 33             25      30                7780    198
2894891 2015-10-31 33             25      55                7409    299
        item_cnt_day revenue
1       1             399
2       1             199
3       1             199
4       1             299
5       1             399
6       1             299
7       1             399
8       1             399
9       1             149
10      1             149
11      1             224
12      2             158
13      1             149
14      2            3198
15      1             299
16      1             299
17      1             449
18      1             149
19      1             399
20      1             149
21      1             399
22      1             149
23      1             189
24      1             499
25      1             199
26      1             899
27      1             349
28      1             599
29      1             149
30      2            1798
<U+22EE>       <U+22EE>     <U+22EE>
2894862 3            4200
2894863 1             449
2894864 2             798
2894865 2            2398
2894866 2            2398
2894867 1             399
2894868 1             199
2894869 1             399
2894870 1             399
2894871 2            1598
2894872 1             298
2894873 1            2749
2894874 1            1849
2894875 1             349
2894876 1            1499
2894877 1            1999
2894878 1            1398
2894879 1            1999
2894880 1             699
2894881 1            1290
2894882 1             249
2894883 1            1999
2894884 1             298
2894885 2            7998
2894886 1            1199
2894887 1             699
2894888 1            1499
2894889 1             199
2894890 1             198
2894891 1             299

In [6]:
train_monthly<-train_monthly%>%transmute(date_block_num,shop_id, item_category_id, item_id,item_cnt_day,item_price,revenue)%>%group_by(date_block_num,shop_id, item_category_id, item_id)%>%summarize(item_cnt_month=sum(item_cnt_day),mean_item_cnt=mean(item_cnt_day),mean_item_price=mean(item_price),revenue_month=sum(revenue))
train_monthly

`summarise()` has grouped output by 'date_block_num', 'shop_id', 'item_category_id'. You can override using the
`.groups` argument.

        date_block_num shop_id item_category_id item_id item_cnt_month
1       0              2        2                5572   9
2       0              2        2                5573   2
3       0              2        2                5575   4
4       0              2        2                5576   3
5       0              2        2                5632   1
6       0              2        2                5633   1
7       0              2        2                5643   1
8       0              2        2                5649   1
9       0              2        2               13510   2
10      0              2        2               13517   2
11      0              2        3               13071   9
12      0              2        4                1958   3
13      0              2        4                5680   1
14      0              2        4               13101   1
15      0              2        4               13102   5
16      0              2        5                5580   3
17      0              2        5                5583   2
18      0              2        5                5590   2
19      0              2        5                5591   1
20      0              2        5                5592   1
21      0              2        5                5602   1
22      0              2        6                7893   3
23      0              2        6                7894   1
24      0              2        6                7895   4
25      0              2        6                7952   1
26      0              2        6               11305   1
27      0              2       13                6668   3
28      0              2       19                  27   1
29      0              2       19                1409   1
30      0              2       19                1467   1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
1589875 33             59      70                9356    1
1589876 33             59      70                9394    1
1589877 33             59      70                9402    1
1589878 33             59      70                9403    1
1589879 33             59      70                9407    1
1589880 33             59      70                9412    1
1589881 33             59      70                9422    1
1589882 33             59      70               15854    1
1589883 33             59      70               16287    1
1589884 33             59      70               17748    1
1589885 33             59      71               20949   19
1589886 33             59      72               20335    1
1589887 33             59      72               20355    1
1589888 33             59      72               20392    1
1589889 33             59      72               20604    2
1589890 33             59      72               20614    1
1589891 33             59      72               20629    1
1589892 33             59      72               20730    1
1589893 33             59      72               20751    1
1589894 33             59      72               20866    4
1589895 33             59      73                 491    1
1589896 33             59      73                 792    1
1589897 33             59      75                3014    1
1589898 33             59      75                4178    3
1589899 33             59      75                4181    7
1589900 33             59      75                5383    1
1589901 33             59      79               17717   13
1589902 33             59      83               22087    6
1589903 33             59      83               22088    2
1589904 33             59      83               22091    1
        mean_item_cnt mean_item_price revenue_month
1       1.285714      1532.857        13910.00
2       1.000000       924.000         1848.00
3       1.000000       955.005         3820.02
4       1.000000      2490.000         7470.00
5       1.000000      2390.000         2390.00
6       1.000000      2298.000         2298.00
7       1.000000      2390.000         2390.00
8       1.000000      2190.000         2190.00
9       1.000000      3790.000         7580.00
10      1.000000      3790.000         7580.00
11      1.500000       499.000         4491.00
12      1.500000        99.000          297.00
13      1.000000       399.000          399.00
14      1.000000      1990.000         1990.00
15      1.250000      1290.000         6450.00
16      1.500000       339.150          957.60
17      1.000000       594.150         1188.30
18      1.000000      1490.000         2980.00
19      1.000000      1890.000         1890.00
20      1.000000      3490.000         3490.00
21      1.000000       629.300          629.30
22      1.000000      1990.000         5970.00
23      1.000000      1490.000         1490.00
24      1.333333       899.000         3596.00
25      1.000000      1990.000         1990.00
26      1.000000       499.000          499.00
27      1.000000      4990.000        14970.00
28      1.000000      2499.000         2499.00
29      1.000000      1398.500         1398.50
30      1.000000       899.000          899.00
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>
1589875 1.000000       399.00           399
1589876 1.000000       199.00           199
1589877 1.000000       199.00           199
1589878 1.000000       199.00           199
1589879 1.000000       349.00           349
1589880 1.000000       199.00           199
1589881 1.000000       449.00           449
1589882 1.000000       859.00           859
1589883 1.000000       199.00           199
1589884 1.000000       288.00           288
1589885 1.266667         5.00            95
1589886 1.000000      1149.00          1149
1589887 1.000000      1249.00          1249
1589888 1.000000      2199.00          2199
1589889 1.000000       999.00          1998
1589890 1.000000      1099.00          1099
1589891 1.000000      2399.00          2399
1589892 1.000000       499.00           499
1589893 1.000000       699.00           699
1589894 1.000000       699.00          2796
1589895 1.000000       480.00           480
1589896 1.000000       979.00           979
1589897 1.000000      1290.00          1290
1589898 1.500000      1590.00          4770
1589899 1.000000      1290.00          9030
1589900 1.000000      4390.00          4390
1589901 1.300000       802.55         11335
1589902 2.000000       119.00           714
1589903 1.000000       119.00           238
1589904 1.000000       179.00           179

In [7]:
testData["date_block_num"] <- 34
testData

       ID     shop_id item_id date_block_num
1       0     5       5037    34
2       1     5       5320    34
3       2     5       5233    34
4       3     5       5232    34
5       4     5       5268    34
6       5     5       5039    34
7       6     5       5041    34
8       7     5       5046    34
9       8     5       5319    34
10      9     5       5003    34
11     10     5       4806    34
12     11     5       4843    34
13     12     5       4607    34
14     13     5       4869    34
15     14     5       4870    34
16     15     5       4872    34
17     16     5       4874    34
18     17     5       4678    34
19     18     5       4892    34
20     19     5       4964    34
21     20     5       4717    34
22     21     5       5002    34
23     22     5       5823    34
24     23     5       5814    34
25     24     5       5900    34
26     25     5       5907    34
27     26     5       5908    34
28     27     5       5643    34
29     28     5       5657    34
30     29     5       5675    34
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE>
214171 214170 45      14543   34
214172 214171 45      19253   34
214173 214172 45      17957   34
214174 214173 45      12470   34
214175 214174 45       7543   34
214176 214175 45       6661   34
214177 214176 45      11137   34
214178 214177 45      11489   34
214179 214178 45       9782   34
214180 214179 45       2972   34
214181 214180 45      19889   34
214182 214181 45      20650   34
214183 214182 45       5665   34
214184 214183 45       9978   34
214185 214184 45      10767   34
214186 214185 45      14443   34
214187 214186 45      14341   34
214188 214187 45       5401   34
214189 214188 45       9500   34
214190 214189 45      16007   34
214191 214190 45       3280   34
214192 214191 45       4393   34
214193 214192 45       4352   34
214194 214193 45      18049   34
214195 214194 45      18027   34
214196 214195 45      18454   34
214197 214196 45      16188   34
214198 214197 45      15757   34
214199 214198 45      19648   34
214200 214199 45        969   34

In [8]:
shop_ids<-unique(testData[,'shop_id'])
item_ids<-unique(testData[,'item_id'])
months<-0:33
empty_df<-expand.grid(date_block_num=months,shop_id=shop_ids,item_id=item_ids)
empty_df<-rbind(empty_df,testData[,c('date_block_num','shop_id','item_id')])
empty_df

        date_block_num shop_id item_id
1        0             5       5037
2        1             5       5037
3        2             5       5037
4        3             5       5037
5        4             5       5037
6        5             5       5037
7        6             5       5037
8        7             5       5037
9        8             5       5037
10       9             5       5037
11      10             5       5037
12      11             5       5037
13      12             5       5037
14      13             5       5037
15      14             5       5037
16      15             5       5037
17      16             5       5037
18      17             5       5037
19      18             5       5037
20      19             5       5037
21      20             5       5037
22      21             5       5037
23      22             5       5037
24      23             5       5037
25      24             5       5037
26      25             5       5037
27      26             5       5037
28      27             5       5037
29      28             5       5037
30      29             5       5037
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>
7496971 34             45      14543
7496972 34             45      19253
7496973 34             45      17957
7496974 34             45      12470
7496975 34             45       7543
7496976 34             45       6661
7496977 34             45      11137
7496978 34             45      11489
7496979 34             45       9782
7496980 34             45       2972
7496981 34             45      19889
7496982 34             45      20650
7496983 34             45       5665
7496984 34             45       9978
7496985 34             45      10767
7496986 34             45      14443
7496987 34             45      14341
7496988 34             45       5401
7496989 34             45       9500
7496990 34             45      16007
7496991 34             45       3280
7496992 34             45       4393
7496993 34             45       4352
7496994 34             45      18049
7496995 34             45      18027
7496996 34             45      18454
7496997 34             45      16188
7496998 34             45      15757
7496999 34             45      19648
7497000 34             45        969

In [9]:
train_monthly<-empty_df%>%left_join(train_monthly,by=c('date_block_num','shop_id','item_id'))
train_monthly[is.na(train_monthly)]<-0
train_monthly<-train_monthly[,c('date_block_num','shop_id','item_id','item_cnt_month','mean_item_cnt','mean_item_price','revenue_month')]%>%inner_join(itemsData,by = "item_id")
train_monthly<-train_monthly[,c('date_block_num','shop_id','item_category_id','item_id','item_cnt_month','mean_item_cnt','mean_item_price','revenue_month')]
train_monthly['month']<-train_monthly['date_block_num']%%12
train_monthly

        date_block_num shop_id item_category_id item_id item_cnt_month
1        0             5       19               5037    0
2        1             5       19               5037    0
3        2             5       19               5037    0
4        3             5       19               5037    0
5        4             5       19               5037    0
6        5             5       19               5037    0
7        6             5       19               5037    0
8        7             5       19               5037    0
9        8             5       19               5037    0
10       9             5       19               5037    0
11      10             5       19               5037    0
12      11             5       19               5037    0
13      12             5       19               5037    0
14      13             5       19               5037    0
15      14             5       19               5037    0
16      15             5       19               5037    0
17      16             5       19               5037    0
18      17             5       19               5037    0
19      18             5       19               5037    0
20      19             5       19               5037    0
21      20             5       19               5037    1
22      21             5       19               5037    0
23      22             5       19               5037    1
24      23             5       19               5037    2
25      24             5       19               5037    2
26      25             5       19               5037    0
27      26             5       19               5037    0
28      27             5       19               5037    0
29      28             5       19               5037    1
30      29             5       19               5037    1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
7496971 34             45      37               14543   0
7496972 34             45      30               19253   0
7496973 34             45      38               17957   0
7496974 34             45      58               12470   0
7496975 34             45      30                7543   0
7496976 34             45      21                6661   0
7496977 34             45      37               11137   0
7496978 34             45      40               11489   0
7496979 34             45      38                9782   0
7496980 34             45      30                2972   0
7496981 34             45      40               19889   0
7496982 34             45      72               20650   0
7496983 34             45       3                5665   0
7496984 34             45      37                9978   0
7496985 34             45      37               10767   0
7496986 34             45      40               14443   0
7496987 34             45      40               14341   0
7496988 34             45      19                5401   0
7496989 34             45      40                9500   0
7496990 34             45      64               16007   0
7496991 34             45      55                3280   0
7496992 34             45      22                4393   0
7496993 34             45      22                4352   0
7496994 34             45      70               18049   0
7496995 34             45      70               18027   0
7496996 34             45      55               18454   0
7496997 34             45      64               16188   0
7496998 34             45      55               15757   0
7496999 34             45      40               19648   0
7497000 34             45      37                 969   0
        mean_item_cnt mean_item_price revenue_month month
1       0                0               0           0
2       0                0               0           1
3       0                0               0           2
4       0                0               0           3
5       0                0               0           4
6       0                0               0           5
7       0                0               0           6
8       0                0               0           7
9       0                0               0           8
10      0                0               0           9
11      0                0               0          10
12      0                0               0          11
13      0                0               0           0
14      0                0               0           1
15      0                0               0           2
16      0                0               0           3
17      0                0               0           4
18      0                0               0           5
19      0                0               0           6
20      0                0               0           7
21      1             2599            2599           8
22      0                0               0           9
23      1             2599            2599          10
24      1             1999            3998          11
25      1             1999            3998           0
26      0                0               0           1
27      0                0               0           2
28      0                0               0           3
29      1             1299            1299           4
30      1             1499            1499           5
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>      <U+22EE>
7496971 0             0               0             10
7496972 0             0               0             10
7496973 0             0               0             10
7496974 0             0               0             10
7496975 0             0               0             10
7496976 0             0               0             10
7496977 0             0               0             10
7496978 0             0               0             10
7496979 0             0               0             10
7496980 0             0               0             10
7496981 0             0               0             10
7496982 0             0               0             10
7496983 0             0               0             10
7496984 0             0               0             10
7496985 0             0               0             10
7496986 0             0               0             10
7496987 0             0               0             10
7496988 0             0               0             10
7496989 0             0               0             10
7496990 0             0               0             10
7496991 0             0               0             10
7496992 0             0               0             10
7496993 0             0               0             10
7496994 0             0               0             10
7496995 0             0               0             10
7496996 0             0               0             10
7496997 0             0               0             10
7496998 0             0               0             10
7496999 0             0               0             10
7497000 0             0               0             10

In [10]:
temp<- train_monthly[,c("date_block_num", "shop_id","item_id","item_cnt_month")]
for (i in 1:3){
    shifted<-temp
    names(shifted) <-c("date_block_num", "shop_id", "item_id", sprintf("item_cnt_month_lag_%d",i))
    shifted[,"date_block_num"]<-shifted[,"date_block_num"]+i
    train_monthly<-train_monthly%>%left_join(shifted,by=c('date_block_num','shop_id','item_id'))
}
train_monthly

        date_block_num shop_id item_category_id item_id item_cnt_month
1        0             5       19               5037    0
2        1             5       19               5037    0
3        2             5       19               5037    0
4        3             5       19               5037    0
5        4             5       19               5037    0
6        5             5       19               5037    0
7        6             5       19               5037    0
8        7             5       19               5037    0
9        8             5       19               5037    0
10       9             5       19               5037    0
11      10             5       19               5037    0
12      11             5       19               5037    0
13      12             5       19               5037    0
14      13             5       19               5037    0
15      14             5       19               5037    0
16      15             5       19               5037    0
17      16             5       19               5037    0
18      17             5       19               5037    0
19      18             5       19               5037    0
20      19             5       19               5037    0
21      20             5       19               5037    1
22      21             5       19               5037    0
23      22             5       19               5037    1
24      23             5       19               5037    2
25      24             5       19               5037    2
26      25             5       19               5037    0
27      26             5       19               5037    0
28      27             5       19               5037    0
29      28             5       19               5037    1
30      29             5       19               5037    1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
7496971 34             45      37               14543   0
7496972 34             45      30               19253   0
7496973 34             45      38               17957   0
7496974 34             45      58               12470   0
7496975 34             45      30                7543   0
7496976 34             45      21                6661   0
7496977 34             45      37               11137   0
7496978 34             45      40               11489   0
7496979 34             45      38                9782   0
7496980 34             45      30                2972   0
7496981 34             45      40               19889   0
7496982 34             45      72               20650   0
7496983 34             45       3                5665   0
7496984 34             45      37                9978   0
7496985 34             45      37               10767   0
7496986 34             45      40               14443   0
7496987 34             45      40               14341   0
7496988 34             45      19                5401   0
7496989 34             45      40                9500   0
7496990 34             45      64               16007   0
7496991 34             45      55                3280   0
7496992 34             45      22                4393   0
7496993 34             45      22                4352   0
7496994 34             45      70               18049   0
7496995 34             45      70               18027   0
7496996 34             45      55               18454   0
7496997 34             45      64               16188   0
7496998 34             45      55               15757   0
7496999 34             45      40               19648   0
7497000 34             45      37                 969   0
        mean_item_cnt mean_item_price revenue_month month item_cnt_month_lag_1
1       0                0               0           0    NA
2       0                0               0           1     0
3       0                0               0           2     0
4       0                0               0           3     0
5       0                0               0           4     0
6       0                0               0           5     0
7       0                0               0           6     0
8       0                0               0           7     0
9       0                0               0           8     0
10      0                0               0           9     0
11      0                0               0          10     0
12      0                0               0          11     0
13      0                0               0           0     0
14      0                0               0           1     0
15      0                0               0           2     0
16      0                0               0           3     0
17      0                0               0           4     0
18      0                0               0           5     0
19      0                0               0           6     0
20      0                0               0           7     0
21      1             2599            2599           8     0
22      0                0               0           9     1
23      1             2599            2599          10     0
24      1             1999            3998          11     1
25      1             1999            3998           0     2
26      0                0               0           1     2
27      0                0               0           2     0
28      0                0               0           3     0
29      1             1299            1299           4     0
30      1             1499            1499           5     1
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>      <U+22EE> <U+22EE>
7496971 0             0               0             10    0
7496972 0             0               0             10    0
7496973 0             0               0             10    0
7496974 0             0               0             10    0
7496975 0             0               0             10    0
7496976 0             0               0             10    0
7496977 0             0               0             10    0
7496978 0             0               0             10    0
7496979 0             0               0             10    0
7496980 0             0               0             10    0
7496981 0             0               0             10    0
7496982 0             0               0             10    0
7496983 0             0               0             10    0
7496984 0             0               0             10    0
7496985 0             0               0             10    0
7496986 0             0               0             10    0
7496987 0             0               0             10    0
7496988 0             0               0             10    1
7496989 0             0               0             10    0
7496990 0             0               0             10    0
7496991 0             0               0             10    0
7496992 0             0               0             10    0
7496993 0             0               0             10    0
7496994 0             0               0             10    0
7496995 0             0               0             10    0
7496996 0             0               0             10    1
7496997 0             0               0             10    0
7496998 0             0               0             10    0
7496999 0             0               0             10    0
7497000 0             0               0             10    0
        item_cnt_month_lag_2 item_cnt_month_lag_3
1       NA                   NA
2       NA                   NA
3        0                   NA
4        0                    0
5        0                    0
6        0                    0
7        0                    0
8        0                    0
9        0                    0
10       0                    0
11       0                    0
12       0                    0
13       0                    0
14       0                    0
15       0                    0
16       0                    0
17       0                    0
18       0                    0
19       0                    0
20       0                    0
21       0                    0
22       0                    0
23       1                    0
24       0                    1
25       1                    0
26       2                    1
27       2                    2
28       0                    2
29       0                    0
30       0                    0
<U+22EE>       <U+22EE>             <U+22EE>
7496971 0                    0
7496972 0                    0
7496973 0                    0
7496974 0                    0
7496975 0                    0
7496976 0                    0
7496977 0                    0
7496978 0                    0
7496979 0                    0
7496980 0                    0
7496981 0                    0
7496982 1                    0
7496983 0                    0
7496984 0                    0
7496985 0                    0
7496986 0                    0
7496987 0                    0
7496988 0                    0
7496989 0                    0
7496990 0                    0
7496991 0                    0
7496992 0                    0
7496993 0                    0
7496994 0                    0
7496995 0                    0
7496996 0                    0
7496997 0                    0
7496998 0                    0
7496999 0                    0
7497000 0                    0