In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.3.6      v purrr   0.3.4
v tibble  3.1.6      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
sales_Data <- read.csv('competitive-data-science-predict-future-sales/sales_train.csv')
testData <- read.csv('competitive-data-science-predict-future-sales/test.csv')
itemsData <- read.csv('competitive-data-science-predict-future-sales/items.csv')
shopsData <- read.csv('competitive-data-science-predict-future-sales/shops.csv')
itemsCatData <- read.csv('competitive-data-science-predict-future-sales/item_categories.csv')

In [3]:
sales_Data

        date       date_block_num shop_id item_id item_price item_cnt_day
1       02.01.2013 0              59      22154    999.00     1
2       03.01.2013 0              25       2552    899.00     1
3       05.01.2013 0              25       2552    899.00    -1
4       06.01.2013 0              25       2554   1709.05     1
5       15.01.2013 0              25       2555   1099.00     1
6       10.01.2013 0              25       2564    349.00     1
7       02.01.2013 0              25       2565    549.00     1
8       04.01.2013 0              25       2572    239.00     1
9       11.01.2013 0              25       2572    299.00     1
10      03.01.2013 0              25       2573    299.00     3
11      03.01.2013 0              25       2574    399.00     2
12      05.01.2013 0              25       2574    399.00     1
13      07.01.2013 0              25       2574    399.00     1
14      08.01.2013 0              25       2574    399.00     2
15      10.01.2013 0              25       2574    399.00     1
16      11.01.2013 0              25       2574    399.00     2
17      13.01.2013 0              25       2574    399.00     1
18      16.01.2013 0              25       2574    399.00     1
19      26.01.2013 0              25       2574    399.00     1
20      27.01.2013 0              25       2574    399.00     1
21      09.01.2013 0              25       2593    279.00     1
22      16.01.2013 0              25       2604    299.00     1
23      27.01.2013 0              25       2604    299.00     1
24      27.01.2013 0              25       2607    279.00     1
25      29.01.2013 0              25       2607    279.00     1
26      27.01.2013 0              25       2609   1699.00     1
27      06.01.2013 0              25       2548   1708.95     1
28      26.01.2013 0              25       2611    299.00     1
29      02.01.2013 0              25       2546    299.00     1
30      06.01.2013 0              25       2515   1649.00     1
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
2935820 16.10.2015 33             25      7789    1799.0     1
2935821 22.10.2015 33             25      7790     799.0     1
2935822 22.10.2015 33             25      7791     899.5     1
2935823 17.10.2015 33             25      7632    2310.0     1
2935824 26.10.2015 33             25      7487     299.0     1
2935825 14.10.2015 33             25      7029     999.0     1
2935826 23.10.2015 33             25      7460     299.0     1
2935827 04.10.2015 33             25      7233     599.0     1
2935828 18.10.2015 33             25      7308     349.0     1
2935829 21.10.2015 33             25      7233     479.0     1
2935830 03.10.2015 33             25      7233     599.0     1
2935831 11.10.2015 33             25      7286     299.0     1
2935832 22.10.2015 33             25      7187     299.0     1
2935833 26.10.2015 33             25      7484     299.0     1
2935834 22.10.2015 33             25      7308     349.0     1
2935835 29.10.2015 33             25      7235     298.0     1
2935836 18.10.2015 33             25      7327     349.0     1
2935837 22.10.2015 33             25      7327     349.0     1
2935838 24.10.2015 33             25      7328     249.0     1
2935839 17.10.2015 33             25      7338     349.0     1
2935840 24.10.2015 33             25      7315     399.0     1
2935841 31.10.2015 33             25      7409     299.0     1
2935842 11.10.2015 33             25      7393     349.0     1
2935843 10.10.2015 33             25      7384     749.0     1
2935844 09.10.2015 33             25      7409     299.0     1
2935845 10.10.2015 33             25      7409     299.0     1
2935846 09.10.2015 33             25      7460     299.0     1
2935847 14.10.2015 33             25      7459     349.0     1
2935848 22.10.2015 33             25      7440     299.0     1
2935849 03.10.2015 33             25      7460     299.0     1