In [1]:
library(tidyverse)
memory.limit(size = 70000)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0      v purrr   0.3.4
v tibble  3.1.6      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

[1] 70000

In [2]:
sales_Data <- read.csv('competitive-data-science-predict-future-sales/sales_train.csv')
testData <- read.csv('competitive-data-science-predict-future-sales/test.csv')
itemsData <- read.csv('competitive-data-science-predict-future-sales/items.csv')
shopsData <- read.csv('competitive-data-science-predict-future-sales/shops.csv')
itemsCatData <- read.csv('competitive-data-science-predict-future-sales/item_categories.csv')

In [3]:
sales_Data

        date       date_block_num shop_id item_id item_price item_cnt_day
1       02.01.2013 0              59      22154    999.00     1
2       03.01.2013 0              25       2552    899.00     1
3       05.01.2013 0              25       2552    899.00    -1
4       06.01.2013 0              25       2554   1709.05     1
5       15.01.2013 0              25       2555   1099.00     1
6       10.01.2013 0              25       2564    349.00     1
7       02.01.2013 0              25       2565    549.00     1
8       04.01.2013 0              25       2572    239.00     1
9       11.01.2013 0              25       2572    299.00     1
10      03.01.2013 0              25       2573    299.00     3
11      03.01.2013 0              25       2574    399.00     2
12      05.01.2013 0              25       2574    399.00     1
13      07.01.2013 0              25       2574    399.00     1
14      08.01.2013 0              25       2574    399.00     2
15      10.01.2013 0              25       2574    399.00     1
16      11.01.2013 0              25       2574    399.00     2
17      13.01.2013 0              25       2574    399.00     1
18      16.01.2013 0              25       2574    399.00     1
19      26.01.2013 0              25       2574    399.00     1
20      27.01.2013 0              25       2574    399.00     1
21      09.01.2013 0              25       2593    279.00     1
22      16.01.2013 0              25       2604    299.00     1
23      27.01.2013 0              25       2604    299.00     1
24      27.01.2013 0              25       2607    279.00     1
25      29.01.2013 0              25       2607    279.00     1
26      27.01.2013 0              25       2609   1699.00     1
27      06.01.2013 0              25       2548   1708.95     1
28      26.01.2013 0              25       2611    299.00     1
29      02.01.2013 0              25       2546    299.00     1
30      06.01.2013 0              25       2515   1649.00     1
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
2935820 16.10.2015 33             25      7789    1799.0     1
2935821 22.10.2015 33             25      7790     799.0     1
2935822 22.10.2015 33             25      7791     899.5     1
2935823 17.10.2015 33             25      7632    2310.0     1
2935824 26.10.2015 33             25      7487     299.0     1
2935825 14.10.2015 33             25      7029     999.0     1
2935826 23.10.2015 33             25      7460     299.0     1
2935827 04.10.2015 33             25      7233     599.0     1
2935828 18.10.2015 33             25      7308     349.0     1
2935829 21.10.2015 33             25      7233     479.0     1
2935830 03.10.2015 33             25      7233     599.0     1
2935831 11.10.2015 33             25      7286     299.0     1
2935832 22.10.2015 33             25      7187     299.0     1
2935833 26.10.2015 33             25      7484     299.0     1
2935834 22.10.2015 33             25      7308     349.0     1
2935835 29.10.2015 33             25      7235     298.0     1
2935836 18.10.2015 33             25      7327     349.0     1
2935837 22.10.2015 33             25      7327     349.0     1
2935838 24.10.2015 33             25      7328     249.0     1
2935839 17.10.2015 33             25      7338     349.0     1
2935840 24.10.2015 33             25      7315     399.0     1
2935841 31.10.2015 33             25      7409     299.0     1
2935842 11.10.2015 33             25      7393     349.0     1
2935843 10.10.2015 33             25      7384     749.0     1
2935844 09.10.2015 33             25      7409     299.0     1
2935845 10.10.2015 33             25      7409     299.0     1
2935846 09.10.2015 33             25      7460     299.0     1
2935847 14.10.2015 33             25      7459     349.0     1
2935848 22.10.2015 33             25      7440     299.0     1
2935849 03.10.2015 33             25      7460     299.0     1

In [4]:
sales_Data$date<-as.Date(sales_Data$date,format = "%d.%m.%Y")
sales_Data<-sales_Data %>% arrange(sales_Data$date)

In [5]:
train_monthly<-sales_Data%>%inner_join(itemsData,by = "item_id")%>%filter((item_price<50000)&(item_cnt_day < 1000)&(item_price > 0) & (item_cnt_day >= 0))%>%transmute(date,date_block_num,shop_id,item_category_id, item_id, item_price, item_cnt_day,revenue=item_price*item_cnt_day)
train_monthly[train_monthly['shop_id'] == 0, 'shop_id'] = 57
train_monthly[train_monthly['shop_id']== 1, 'shop_id'] = 58
train_monthly[train_monthly['shop_id'] == 11, 'shop_id'] = 10
train_monthly[train_monthly['shop_id'] == 40, 'shop_id'] = 39
train_monthly

        date       date_block_num shop_id item_category_id item_id item_price
1       2013-01-01 0              19      40               18976    399
2       2013-01-01 0              19      55               18284    199
3       2013-01-01 0              19      55               18320    199
4       2013-01-01 0              19      55               18329    299
5       2013-01-01 0              19      62               19367    399
6       2013-01-01 0              19      40               18823    299
7       2013-01-01 0              19      30               19413    399
8       2013-01-01 0              19      62               19366    399
9       2013-01-01 0              19      40               18721    149
10      2013-01-01 0              19      40               18638    149
11      2013-01-01 0              19      30               21996    224
12      2013-01-01 0              19      83               22088     79
13      2013-01-01 0              19      40               21584    149
14      2013-01-01 0              19      72               20388   1599
15      2013-01-01 0              19      40               20236    299
16      2013-01-01 0              19      40               20237    299
17      2013-01-01 0              19      30               20946    449
18      2013-01-01 0              19      40               21422    149
19      2013-01-01 0              19      40               21424    399
20      2013-01-01 0              19      40               14038    149
21      2013-01-01 0              19      40               14083    399
22      2013-01-01 0              19      40               16662    149
23      2013-01-01 0              19      55               16934    189
24      2013-01-01 0              19      37               16451    499
25      2013-01-01 0              19      55               16457    199
26      2013-01-01 0              19      19               17707    899
27      2013-01-01 0              19      40               15533    349
28      2013-01-01 0              19      30               16333    599
29      2013-01-01 0              19      40               15585    149
30      2013-01-01 0              19      19                3686    899
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
2928458 2015-10-31 33             25      42                8543   1400
2928459 2015-10-31 33             25      40                8692    449
2928460 2015-10-31 33             25      40                8397    399
2928461 2015-10-31 33             25      20               10202   1199
2928462 2015-10-31 33             25      30               10207   1199
2928463 2015-10-31 33             25      40                9927    399
2928464 2015-10-31 33             25      70                9402    199
2928465 2015-10-31 33             25      70                9356    399
2928466 2015-10-31 33             25      28               10200    399
2928467 2015-10-31 33             25      28               10201    799
2928468 2015-10-31 33             25      37                9147    298
2928469 2015-10-31 33             25      58                6041   2749
2928470 2015-10-31 33             25      58                6345   1849
2928471 2015-10-31 33             25      55                6356    349
2928472 2015-10-31 33             25      19                6928   1499
2928473 2015-10-31 33             25      30                6503   1999
2928474 2015-10-31 33             25      20                6619   1398
2928475 2015-10-31 33             25      58                6837   1999
2928476 2015-10-31 33             25       5                5583    699
2928477 2015-10-31 33             25       3                5655   1290
2928478 2015-10-31 33             25       3                5675    249
2928479 2015-10-31 33             25      24                6070   1999
2928480 2015-10-31 33             25       7                7984    298
2928481 2015-10-31 33             25      20                7223   3999
2928482 2015-10-31 33             25      19                7215   1199
2928483 2015-10-31 33             25      30                7087    699
2928484 2015-10-31 33             25      20                7172   1499
2928485 2015-10-31 33             25      30                7202    199
2928486 2015-10-31 33             25      30                7780    198
2928487 2015-10-31 33             25      55                7409    299
        item_cnt_day revenue
1       1             399
2       1             199
3       1             199
4       1             299
5       1             399
6       1             299
7       1             399
8       1             399
9       1             149
10      1             149
11      1             224
12      2             158
13      1             149
14      2            3198
15      1             299
16      1             299
17      1             449
18      1             149
19      1             399
20      1             149
21      1             399
22      1             149
23      1             189
24      1             499
25      1             199
26      1             899
27      1             349
28      1             599
29      1             149
30      2            1798
<U+22EE>       <U+22EE>     <U+22EE>
2928458 3            4200
2928459 1             449
2928460 2             798
2928461 2            2398
2928462 2            2398
2928463 1             399
2928464 1             199
2928465 1             399
2928466 1             399
2928467 2            1598
2928468 1             298
2928469 1            2749
2928470 1            1849
2928471 1             349
2928472 1            1499
2928473 1            1999
2928474 1            1398
2928475 1            1999
2928476 1             699
2928477 1            1290
2928478 1             249
2928479 1            1999
2928480 1             298
2928481 2            7998
2928482 1            1199
2928483 1             699
2928484 1            1499
2928485 1             199
2928486 1             198
2928487 1             299

In [6]:
train_monthly<-train_monthly%>%transmute(date_block_num,shop_id, item_category_id, item_id,item_cnt_day,item_price,revenue)%>%group_by(date_block_num,shop_id, item_category_id, item_id)%>%summarize(item_cnt_month=sum(item_cnt_day),mean_item_cnt=mean(item_cnt_day),mean_item_price=mean(item_price),revenue_month=sum(revenue))
train_monthly

`summarise()` has grouped output by 'date_block_num', 'shop_id', 'item_category_id'. You can override using the
`.groups` argument.

        date_block_num shop_id item_category_id item_id item_cnt_month
1       0              2        2                5572   9
2       0              2        2                5573   2
3       0              2        2                5575   4
4       0              2        2                5576   3
5       0              2        2                5632   1
6       0              2        2                5633   1
7       0              2        2                5643   1
8       0              2        2                5649   1
9       0              2        2               13510   2
10      0              2        2               13517   2
11      0              2        3               13071   9
12      0              2        4                1958   3
13      0              2        4                5680   1
14      0              2        4               13101   1
15      0              2        4               13102   5
16      0              2        5                5580   3
17      0              2        5                5583   2
18      0              2        5                5590   2
19      0              2        5                5591   1
20      0              2        5                5592   1
21      0              2        5                5602   1
22      0              2        6                7893   3
23      0              2        6                7894   1
24      0              2        6                7895   4
25      0              2        6                7952   1
26      0              2        6                7956   2
27      0              2        6               11305   1
28      0              2       11               13433   1
29      0              2       11               13434   1
30      0              2       11               13435   1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
1607342 33             59      70                9356    1
1607343 33             59      70                9394    1
1607344 33             59      70                9402    1
1607345 33             59      70                9403    1
1607346 33             59      70                9407    1
1607347 33             59      70                9412    1
1607348 33             59      70                9422    1
1607349 33             59      70               15854    1
1607350 33             59      70               16287    1
1607351 33             59      70               17748    1
1607352 33             59      71               20949   19
1607353 33             59      72               20335    1
1607354 33             59      72               20355    1
1607355 33             59      72               20392    1
1607356 33             59      72               20604    2
1607357 33             59      72               20614    1
1607358 33             59      72               20629    1
1607359 33             59      72               20730    1
1607360 33             59      72               20751    1
1607361 33             59      72               20866    4
1607362 33             59      73                 491    1
1607363 33             59      73                 792    1
1607364 33             59      75                3014    1
1607365 33             59      75                4178    3
1607366 33             59      75                4181    7
1607367 33             59      75                5383    1
1607368 33             59      79               17717   13
1607369 33             59      83               22087    6
1607370 33             59      83               22088    2
1607371 33             59      83               22091    1
        mean_item_cnt mean_item_price revenue_month
1       1.285714       1532.857       13910.00
2       1.000000        924.000        1848.00
3       1.000000        955.005        3820.02
4       1.000000       2490.000        7470.00
5       1.000000       2390.000        2390.00
6       1.000000       2298.000        2298.00
7       1.000000       2390.000        2390.00
8       1.000000       2190.000        2190.00
9       1.000000       3790.000        7580.00
10      1.000000       3790.000        7580.00
11      1.500000        499.000        4491.00
12      1.500000         99.000         297.00
13      1.000000        399.000         399.00
14      1.000000       1990.000        1990.00
15      1.250000       1290.000        6450.00
16      1.500000        339.150         957.60
17      1.000000        594.150        1188.30
18      1.000000       1490.000        2980.00
19      1.000000       1890.000        1890.00
20      1.000000       3490.000        3490.00
21      1.000000        629.300         629.30
22      1.000000       1990.000        5970.00
23      1.000000       1490.000        1490.00
24      1.333333        899.000        3596.00
25      1.000000       1990.000        1990.00
26      1.000000       6890.000       13780.00
27      1.000000        499.000         499.00
28      1.000000      12990.000       12990.00
29      1.000000      13489.500       13489.50
30      1.000000      11990.000       11990.00
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>
1607342 1.000000       399.00           399
1607343 1.000000       199.00           199
1607344 1.000000       199.00           199
1607345 1.000000       199.00           199
1607346 1.000000       349.00           349
1607347 1.000000       199.00           199
1607348 1.000000       449.00           449
1607349 1.000000       859.00           859
1607350 1.000000       199.00           199
1607351 1.000000       288.00           288
1607352 1.266667         5.00            95
1607353 1.000000      1149.00          1149
1607354 1.000000      1249.00          1249
1607355 1.000000      2199.00          2199
1607356 1.000000       999.00          1998
1607357 1.000000      1099.00          1099
1607358 1.000000      2399.00          2399
1607359 1.000000       499.00           499
1607360 1.000000       699.00           699
1607361 1.000000       699.00          2796
1607362 1.000000       480.00           480
1607363 1.000000       979.00           979
1607364 1.000000      1290.00          1290
1607365 1.500000      1590.00          4770
1607366 1.000000      1290.00          9030
1607367 1.000000      4390.00          4390
1607368 1.300000       802.55         11335
1607369 2.000000       119.00           714
1607370 1.000000       119.00           238
1607371 1.000000       179.00           179

In [7]:
testData["date_block_num"] <- 34
testData

       ID     shop_id item_id date_block_num
1       0     5       5037    34
2       1     5       5320    34
3       2     5       5233    34
4       3     5       5232    34
5       4     5       5268    34
6       5     5       5039    34
7       6     5       5041    34
8       7     5       5046    34
9       8     5       5319    34
10      9     5       5003    34
11     10     5       4806    34
12     11     5       4843    34
13     12     5       4607    34
14     13     5       4869    34
15     14     5       4870    34
16     15     5       4872    34
17     16     5       4874    34
18     17     5       4678    34
19     18     5       4892    34
20     19     5       4964    34
21     20     5       4717    34
22     21     5       5002    34
23     22     5       5823    34
24     23     5       5814    34
25     24     5       5900    34
26     25     5       5907    34
27     26     5       5908    34
28     27     5       5643    34
29     28     5       5657    34
30     29     5       5675    34
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE>
214171 214170 45      14543   34
214172 214171 45      19253   34
214173 214172 45      17957   34
214174 214173 45      12470   34
214175 214174 45       7543   34
214176 214175 45       6661   34
214177 214176 45      11137   34
214178 214177 45      11489   34
214179 214178 45       9782   34
214180 214179 45       2972   34
214181 214180 45      19889   34
214182 214181 45      20650   34
214183 214182 45       5665   34
214184 214183 45       9978   34
214185 214184 45      10767   34
214186 214185 45      14443   34
214187 214186 45      14341   34
214188 214187 45       5401   34
214189 214188 45       9500   34
214190 214189 45      16007   34
214191 214190 45       3280   34
214192 214191 45       4393   34
214193 214192 45       4352   34
214194 214193 45      18049   34
214195 214194 45      18027   34
214196 214195 45      18454   34
214197 214196 45      16188   34
214198 214197 45      15757   34
214199 214198 45      19648   34
214200 214199 45        969   34

In [8]:
shop_ids<-unique(testData[,'shop_id'])
item_ids<-unique(testData[,'item_id'])
months<-0:33
empty_df<-expand.grid(date_block_num=months,shop_id=shop_ids,item_id=item_ids)
empty_df<-rbind(empty_df,testData[,c('date_block_num','shop_id','item_id')])
empty_df

        date_block_num shop_id item_id
1        0             5       5037
2        1             5       5037
3        2             5       5037
4        3             5       5037
5        4             5       5037
6        5             5       5037
7        6             5       5037
8        7             5       5037
9        8             5       5037
10       9             5       5037
11      10             5       5037
12      11             5       5037
13      12             5       5037
14      13             5       5037
15      14             5       5037
16      15             5       5037
17      16             5       5037
18      17             5       5037
19      18             5       5037
20      19             5       5037
21      20             5       5037
22      21             5       5037
23      22             5       5037
24      23             5       5037
25      24             5       5037
26      25             5       5037
27      26             5       5037
28      27             5       5037
29      28             5       5037
30      29             5       5037
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>
7496971 34             45      14543
7496972 34             45      19253
7496973 34             45      17957
7496974 34             45      12470
7496975 34             45       7543
7496976 34             45       6661
7496977 34             45      11137
7496978 34             45      11489
7496979 34             45       9782
7496980 34             45       2972
7496981 34             45      19889
7496982 34             45      20650
7496983 34             45       5665
7496984 34             45       9978
7496985 34             45      10767
7496986 34             45      14443
7496987 34             45      14341
7496988 34             45       5401
7496989 34             45       9500
7496990 34             45      16007
7496991 34             45       3280
7496992 34             45       4393
7496993 34             45       4352
7496994 34             45      18049
7496995 34             45      18027
7496996 34             45      18454
7496997 34             45      16188
7496998 34             45      15757
7496999 34             45      19648
7497000 34             45        969

In [9]:
train_monthly<-empty_df%>%left_join(train_monthly,by=c('date_block_num','shop_id','item_id'))
train_monthly[is.na(train_monthly)]<-0
train_monthly<-train_monthly[,c('date_block_num','shop_id','item_id','item_cnt_month','mean_item_cnt','mean_item_price','revenue_month')]%>%inner_join(itemsData,by = "item_id")
train_monthly<-train_monthly[,c('date_block_num','shop_id','item_category_id','item_id','item_cnt_month','mean_item_cnt','mean_item_price','revenue_month')]
train_monthly['item_cnt_month']<-lapply(train_monthly['item_cnt_month'],function(x){ifelse(x>20,20,ifelse(x<0,0,x))})
train_monthly['month']<-train_monthly['date_block_num']%%12
train_monthly

        date_block_num shop_id item_category_id item_id item_cnt_month
1        0             5       19               5037    0
2        1             5       19               5037    0
3        2             5       19               5037    0
4        3             5       19               5037    0
5        4             5       19               5037    0
6        5             5       19               5037    0
7        6             5       19               5037    0
8        7             5       19               5037    0
9        8             5       19               5037    0
10       9             5       19               5037    0
11      10             5       19               5037    0
12      11             5       19               5037    0
13      12             5       19               5037    0
14      13             5       19               5037    0
15      14             5       19               5037    0
16      15             5       19               5037    0
17      16             5       19               5037    0
18      17             5       19               5037    0
19      18             5       19               5037    0
20      19             5       19               5037    0
21      20             5       19               5037    1
22      21             5       19               5037    0
23      22             5       19               5037    1
24      23             5       19               5037    2
25      24             5       19               5037    2
26      25             5       19               5037    0
27      26             5       19               5037    0
28      27             5       19               5037    0
29      28             5       19               5037    1
30      29             5       19               5037    1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
7496971 34             45      37               14543   0
7496972 34             45      30               19253   0
7496973 34             45      38               17957   0
7496974 34             45      58               12470   0
7496975 34             45      30                7543   0
7496976 34             45      21                6661   0
7496977 34             45      37               11137   0
7496978 34             45      40               11489   0
7496979 34             45      38                9782   0
7496980 34             45      30                2972   0
7496981 34             45      40               19889   0
7496982 34             45      72               20650   0
7496983 34             45       3                5665   0
7496984 34             45      37                9978   0
7496985 34             45      37               10767   0
7496986 34             45      40               14443   0
7496987 34             45      40               14341   0
7496988 34             45      19                5401   0
7496989 34             45      40                9500   0
7496990 34             45      64               16007   0
7496991 34             45      55                3280   0
7496992 34             45      22                4393   0
7496993 34             45      22                4352   0
7496994 34             45      70               18049   0
7496995 34             45      70               18027   0
7496996 34             45      55               18454   0
7496997 34             45      64               16188   0
7496998 34             45      55               15757   0
7496999 34             45      40               19648   0
7497000 34             45      37                 969   0
        mean_item_cnt mean_item_price revenue_month month
1       0                0               0           0
2       0                0               0           1
3       0                0               0           2
4       0                0               0           3
5       0                0               0           4
6       0                0               0           5
7       0                0               0           6
8       0                0               0           7
9       0                0               0           8
10      0                0               0           9
11      0                0               0          10
12      0                0               0          11
13      0                0               0           0
14      0                0               0           1
15      0                0               0           2
16      0                0               0           3
17      0                0               0           4
18      0                0               0           5
19      0                0               0           6
20      0                0               0           7
21      1             2599            2599           8
22      0                0               0           9
23      1             2599            2599          10
24      1             1999            3998          11
25      1             1999            3998           0
26      0                0               0           1
27      0                0               0           2
28      0                0               0           3
29      1             1299            1299           4
30      1             1499            1499           5
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>      <U+22EE>
7496971 0             0               0             10
7496972 0             0               0             10
7496973 0             0               0             10
7496974 0             0               0             10
7496975 0             0               0             10
7496976 0             0               0             10
7496977 0             0               0             10
7496978 0             0               0             10
7496979 0             0               0             10
7496980 0             0               0             10
7496981 0             0               0             10
7496982 0             0               0             10
7496983 0             0               0             10
7496984 0             0               0             10
7496985 0             0               0             10
7496986 0             0               0             10
7496987 0             0               0             10
7496988 0             0               0             10
7496989 0             0               0             10
7496990 0             0               0             10
7496991 0             0               0             10
7496992 0             0               0             10
7496993 0             0               0             10
7496994 0             0               0             10
7496995 0             0               0             10
7496996 0             0               0             10
7496997 0             0               0             10
7496998 0             0               0             10
7496999 0             0               0             10
7497000 0             0               0             10

In [10]:
date_block_shop_mean<-train_monthly%>%group_by(date_block_num,shop_id)%>%summarize(date_block_shop_mean=mean(item_cnt_month))
date_block_shop_mean
train_monthly<-train_monthly%>%left_join(date_block_shop_mean,by=c('date_block_num', 'shop_id'))

`summarise()` has grouped output by 'date_block_num'. You can override using the `.groups` argument.

     date_block_num shop_id date_block_shop_mean
1    0               2      0.04901961
2    0               3      0.03666667
3    0               4      0.08901961
4    0               5      0.00000000
5    0               6      0.15862745
6    0               7      0.10882353
7    0              10      0.03843137
8    0              12      0.06294118
9    0              14      0.08607843
10   0              15      0.11921569
11   0              16      0.12000000
12   0              18      0.13411765
13   0              19      0.12274510
14   0              21      0.06568627
15   0              22      0.10000000
16   0              24      0.07686275
17   0              25      0.29745098
18   0              26      0.10098039
19   0              28      0.25000000
20   0              31      0.39568627
21   0              34      0.00000000
22   0              35      0.09470588
23   0              36      0.00000000
24   0              37      0.10215686
25   0              38      0.07333333
26   0              39      0.00000000
27   0              41      0.08215686
28   0              42      0.16980392
29   0              44      0.07509804
30   0              45      0.08313725
<U+22EE>    <U+22EE>       <U+22EE> <U+22EE>
1441 34             19      0
1442 34             21      0
1443 34             22      0
1444 34             24      0
1445 34             25      0
1446 34             26      0
1447 34             28      0
1448 34             31      0
1449 34             34      0
1450 34             35      0
1451 34             36      0
1452 34             37      0
1453 34             38      0
1454 34             39      0
1455 34             41      0
1456 34             42      0
1457 34             44      0
1458 34             45      0
1459 34             46      0
1460 34             47      0
1461 34             48      0
1462 34             49      0
1463 34             50      0
1464 34             52      0
1465 34             53      0
1466 34             55      0
1467 34             56      0
1468 34             57      0
1469 34             58      0
1470 34             59      0

In [11]:
date_block_item_mean<-train_monthly%>%group_by(date_block_num,item_id)%>%summarize(date_block_item_mean=mean(item_cnt_month))
date_block_item_mean
train_monthly<-train_monthly%>%left_join(date_block_item_mean,by=c('date_block_num', 'item_id'))
date_category_mean<-train_monthly%>%group_by(date_block_num,item_category_id)%>%summarize(date_cat_mean=mean(item_category_id))
date_category_mean
train_monthly<-train_monthly%>%left_join(date_category_mean,by=c('date_block_num', 'item_category_id'))
train_monthly[is.na(train_monthly)]<-0

`summarise()` has grouped output by 'date_block_num'. You can override using the `.groups` argument.

       date_block_num item_id date_block_item_mean
1      0               30     0.00000000
2      0               31     0.00000000
3      0               32     4.50000000
4      0               33     1.07142857
5      0               38     0.00000000
6      0               42     0.04761905
7      0               45     0.16666667
8      0               51     0.26190476
9      0               53     0.11904762
10     0               57     0.02380952
11     0               59     0.33333333
12     0               62     0.00000000
13     0               64     0.00000000
14     0               67     0.00000000
15     0               69     0.00000000
16     0               70     0.00000000
17     0               72     0.07142857
18     0               76     0.00000000
19     0               80     0.00000000
20     0               83     0.00000000
21     0               88     0.11904762
22     0               91     0.00000000
23     0               93     0.11904762
24     0              109     0.04761905
25     0              138     0.00000000
26     0              140     0.00000000
27     0              149     0.26190476
28     0              153     0.14285714
29     0              154     0.42857143
30     0              166     0.00000000
<U+22EE>      <U+22EE>       <U+22EE> <U+22EE>
178471 34             22022   0
178472 34             22035   0
178473 34             22050   0
178474 34             22054   0
178475 34             22059   0
178476 34             22060   0
178477 34             22068   0
178478 34             22069   0
178479 34             22071   0
178480 34             22087   0
178481 34             22088   0
178482 34             22091   0
178483 34             22092   0
178484 34             22100   0
178485 34             22101   0
178486 34             22102   0
178487 34             22104   0
178488 34             22105   0
178489 34             22106   0
178490 34             22111   0
178491 34             22118   0
178492 34             22137   0
178493 34             22139   0
178494 34             22145   0
178495 34             22154   0
178496 34             22162   0
178497 34             22163   0
178498 34             22164   0
178499 34             22166   0
178500 34             22167   0

`summarise()` has grouped output by 'date_block_num'. You can override using the `.groups` argument.

     date_block_num item_category_id date_cat_mean
1    0               0                0
2    0               2                2
3    0               3                3
4    0               5                5
5    0               6                6
6    0               7                7
7    0               9                9
8    0              11               11
9    0              12               12
10   0              15               15
11   0              16               16
12   0              19               19
13   0              20               20
14   0              21               21
15   0              22               22
16   0              23               23
17   0              24               24
18   0              25               25
19   0              26               26
20   0              27               27
21   0              28               28
22   0              29               29
23   0              30               30
24   0              31               31
25   0              33               33
26   0              34               34
27   0              35               35
28   0              36               36
29   0              37               37
30   0              38               38
<U+22EE>    <U+22EE>       <U+22EE>         <U+22EE>
2141 34             42               42
2142 34             43               43
2143 34             44               44
2144 34             45               45
2145 34             47               47
2146 34             49               49
2147 34             54               54
2148 34             55               55
2149 34             56               56
2150 34             57               57
2151 34             58               58
2152 34             60               60
2153 34             61               61
2154 34             62               62
2155 34             63               63
2156 34             64               64
2157 34             65               65
2158 34             67               67
2159 34             69               69
2160 34             70               70
2161 34             71               71
2162 34             72               72
2163 34             73               73
2164 34             74               74
2165 34             75               75
2166 34             76               76
2167 34             77               77
2168 34             78               78
2169 34             79               79
2170 34             83               83

In [12]:
temp<- train_monthly[,c("date_block_num", "shop_id","item_id","item_cnt_month","revenue_month","mean_item_cnt","mean_item_price","date_block_shop_mean","date_block_item_mean","date_cat_mean")]
for (i in 1:3){
    shifted<-temp
    names(shifted) <-c("date_block_num", "shop_id", "item_id", sprintf("item_cnt_month_lag_%d",i),sprintf("revenue_month_lag_%d",i),sprintf("mean_item_cnt_lag_%d",i),sprintf("mean_item_price_lag_%d",i),sprintf("date_block_shop_mean_lag_%d",i),sprintf("date_block_item_mean_lag_%d",i),sprintf("date_cat_mean_lag_%d",i))
    shifted[,"date_block_num"]<-shifted[,"date_block_num"]+i
    train_monthly<-train_monthly%>%left_join(shifted,by=c('date_block_num','shop_id','item_id'))
}
train_monthly[is.na(train_monthly)]<-0
train_monthly['qmean_item_cnt']<-apply(train_monthly[,c('item_cnt_month_lag_1', 
                                    'item_cnt_month_lag_2', 
                                    'item_cnt_month_lag_3')], 1, mean, na.rm=TRUE)
train_monthly['qmax_item_cnt'] <- apply(train_monthly[,c('item_cnt_month_lag_1', 
                                    'item_cnt_month_lag_2', 
                                    'item_cnt_month_lag_3')], 1, max, na.rm=TRUE)
train_monthly['qstd_item_cnt'] <- apply(train_monthly[,c('item_cnt_month_lag_1', 
                                    'item_cnt_month_lag_2', 
                                    'item_cnt_month_lag_3')], 1, sd, na.rm=TRUE)
train_monthly['qmin_item_cnt'] <- apply(train_monthly[,c('item_cnt_month_lag_1', 
                                    'item_cnt_month_lag_2', 
                                    'item_cnt_month_lag_3')], 1, min, na.rm=TRUE)
train_monthly

        date_block_num shop_id item_category_id item_id item_cnt_month
1        0             5       19               5037    0
2        1             5       19               5037    0
3        2             5       19               5037    0
4        3             5       19               5037    0
5        4             5       19               5037    0
6        5             5       19               5037    0
7        6             5       19               5037    0
8        7             5       19               5037    0
9        8             5       19               5037    0
10       9             5       19               5037    0
11      10             5       19               5037    0
12      11             5       19               5037    0
13      12             5       19               5037    0
14      13             5       19               5037    0
15      14             5       19               5037    0
16      15             5       19               5037    0
17      16             5       19               5037    0
18      17             5       19               5037    0
19      18             5       19               5037    0
20      19             5       19               5037    0
21      20             5       19               5037    1
22      21             5       19               5037    0
23      22             5       19               5037    1
24      23             5       19               5037    2
25      24             5       19               5037    2
26      25             5       19               5037    0
27      26             5       19               5037    0
28      27             5       19               5037    0
29      28             5       19               5037    1
30      29             5       19               5037    1
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
7496971 34             45      37               14543   0
7496972 34             45      30               19253   0
7496973 34             45      38               17957   0
7496974 34             45      58               12470   0
7496975 34             45      30                7543   0
7496976 34             45      21                6661   0
7496977 34             45      37               11137   0
7496978 34             45      40               11489   0
7496979 34             45      38                9782   0
7496980 34             45      30                2972   0
7496981 34             45      40               19889   0
7496982 34             45      72               20650   0
7496983 34             45       3                5665   0
7496984 34             45      37                9978   0
7496985 34             45      37               10767   0
7496986 34             45      40               14443   0
7496987 34             45      40               14341   0
7496988 34             45      19                5401   0
7496989 34             45      40                9500   0
7496990 34             45      64               16007   0
7496991 34             45      55                3280   0
7496992 34             45      22                4393   0
7496993 34             45      22                4352   0
7496994 34             45      70               18049   0
7496995 34             45      70               18027   0
7496996 34             45      55               18454   0
7496997 34             45      64               16188   0
7496998 34             45      55               15757   0
7496999 34             45      40               19648   0
7497000 34             45      37                 969   0
        mean_item_cnt mean_item_price revenue_month month date_block_shop_mean
1       0                0               0           0    0.00000000
2       0                0               0           1    0.03666667
3       0                0               0           2    0.07098039
4       0                0               0           3    0.04941176
5       0                0               0           4    0.05823529
6       0                0               0           5    0.06686275
7       0                0               0           6    0.06274510
8       0                0               0           7    0.08450980
9       0                0               0           8    0.08039216
10      0                0               0           9    0.08666667
11      0                0               0          10    0.10313725
12      0                0               0          11    0.16254902
13      0                0               0           0    0.13117647
14      0                0               0           1    0.10823529
15      0                0               0           2    0.13941176
16      0                0               0           3    0.10431373
17      0                0               0           4    0.12196078
18      0                0               0           5    0.13607843
19      0                0               0           6    0.15098039
20      0                0               0           7    0.17803922
21      1             2599            2599           8    0.14725490
22      0                0               0           9    0.14823529
23      1             2599            2599          10    0.17588235
24      1             1999            3998          11    0.27941176
25      1             1999            3998           0    0.18882353
26      0                0               0           1    0.15823529
27      0                0               0           2    0.17019608
28      0                0               0           3    0.13980392
29      1             1299            1299           4    0.16333333
30      1             1499            1499           5    0.16411765
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>      <U+22EE> <U+22EE>
7496971 0             0               0             10    0
7496972 0             0               0             10    0
7496973 0             0               0             10    0
7496974 0             0               0             10    0
7496975 0             0               0             10    0
7496976 0             0               0             10    0
7496977 0             0               0             10    0
7496978 0             0               0             10    0
7496979 0             0               0             10    0
7496980 0             0               0             10    0
7496981 0             0               0             10    0
7496982 0             0               0             10    0
7496983 0             0               0             10    0
7496984 0             0               0             10    0
7496985 0             0               0             10    0
7496986 0             0               0             10    0
7496987 0             0               0             10    0
7496988 0             0               0             10    0
7496989 0             0               0             10    0
7496990 0             0               0             10    0
7496991 0             0               0             10    0
7496992 0             0               0             10    0
7496993 0             0               0             10    0
7496994 0             0               0             10    0
7496995 0             0               0             10    0
7496996 0             0               0             10    0
7496997 0             0               0             10    0
7496998 0             0               0             10    0
7496999 0             0               0             10    0
7497000 0             0               0             10    0
        <U+22EF>        revenue_month_lag_3 mean_item_cnt_lag_3 mean_item_price_lag_3
1       <U+22EF>    0                0                      0
2       <U+22EF>    0                0                      0
3       <U+22EF>    0                0                      0
4       <U+22EF>    0                0                      0
5       <U+22EF>    0                0                      0
6       <U+22EF>    0                0                      0
7       <U+22EF>    0                0                      0
8       <U+22EF>    0                0                      0
9       <U+22EF>    0                0                      0
10      <U+22EF>    0                0                      0
11      <U+22EF>    0                0                      0
12      <U+22EF>    0                0                      0
13      <U+22EF>    0                0                      0
14      <U+22EF>    0                0                      0
15      <U+22EF>    0                0                      0
16      <U+22EF>    0                0                      0
17      <U+22EF>    0                0                      0
18      <U+22EF>    0                0                      0
19      <U+22EF>    0                0                      0
20      <U+22EF>    0                0                      0
21      <U+22EF>    0                0                      0
22      <U+22EF>    0                0                      0
23      <U+22EF>    0                0                      0
24      <U+22EF> 2599                1                   2599
25      <U+22EF>    0                0                      0
26      <U+22EF> 2599                1                   2599
27      <U+22EF> 3998                1                   1999
28      <U+22EF> 3998                1                   1999
29      <U+22EF>    0                0                      0
30      <U+22EF>    0                0                      0
<U+22EE>       <U+22F1> <U+22EE>            <U+22EE>            <U+22EE>
7496971 <U+22EF> 0                   0                   0
7496972 <U+22EF> 0                   0                   0
7496973 <U+22EF> 0                   0                   0
7496974 <U+22EF> 0                   0                   0
7496975 <U+22EF> 0                   0                   0
7496976 <U+22EF> 0                   0                   0
7496977 <U+22EF> 0                   0                   0
7496978 <U+22EF> 0                   0                   0
7496979 <U+22EF> 0                   0                   0
7496980 <U+22EF> 0                   0                   0
7496981 <U+22EF> 0                   0                   0
7496982 <U+22EF> 0                   0                   0
7496983 <U+22EF> 0                   0                   0
7496984 <U+22EF> 0                   0                   0
7496985 <U+22EF> 0                   0                   0
7496986 <U+22EF> 0                   0                   0
7496987 <U+22EF> 0                   0                   0
7496988 <U+22EF> 0                   0                   0
7496989 <U+22EF> 0                   0                   0
7496990 <U+22EF> 0                   0                   0
7496991 <U+22EF> 0                   0                   0
7496992 <U+22EF> 0                   0                   0
7496993 <U+22EF> 0                   0                   0
7496994 <U+22EF> 0                   0                   0
7496995 <U+22EF> 0                   0                   0
7496996 <U+22EF> 0                   0                   0
7496997 <U+22EF> 0                   0                   0
7496998 <U+22EF> 0                   0                   0
7496999 <U+22EF> 0                   0                   0
7497000 <U+22EF> 0                   0                   0
        date_block_shop_mean_lag_3 date_block_item_mean_lag_3
1       0.00000000                 0.0000000
2       0.00000000                 0.0000000
3       0.00000000                 0.0000000
4       0.00000000                 0.0000000
5       0.03666667                 0.0000000
6       0.07098039                 0.0000000
7       0.04941176                 0.0000000
8       0.05823529                 0.0000000
9       0.06686275                 0.0000000
10      0.06274510                 0.0000000
11      0.08450980                 0.0000000
12      0.08039216                 0.0000000
13      0.08666667                 0.0000000
14      0.10313725                 0.0000000
15      0.16254902                 0.0000000
16      0.13117647                 0.0000000
17      0.10823529                 0.0000000
18      0.13941176                 0.0000000
19      0.10431373                 0.0000000
20      0.12196078                 0.0000000
21      0.13607843                 0.0000000
22      0.15098039                 0.0000000
23      0.17803922                 0.0000000
24      0.14725490                 4.3571429
25      0.14823529                 1.2380952
26      0.17588235                 1.2857143
27      0.27941176                 4.7619048
28      0.18882353                 2.0714286
29      0.15823529                 0.7619048
30      0.17019608                 0.6904762
<U+22EE>       <U+22EE>                   <U+22EE>
7496971 0.1282353                  0.00000000
7496972 0.1282353                  0.00000000
7496973 0.1282353                  0.00000000
7496974 0.1282353                  0.00000000
7496975 0.1282353                  0.04761905
7496976 0.1282353                  0.02380952
7496977 0.1282353                  0.00000000
7496978 0.1282353                  0.02380952
7496979 0.1282353                  0.00000000
7496980 0.1282353                  0.00000000
7496981 0.1282353                  0.00000000
7496982 0.1282353                  0.02380952
7496983 0.1282353                  0.02380952
7496984 0.1282353                  0.00000000
7496985 0.1282353                  0.00000000
7496986 0.1282353                  0.00000000
7496987 0.1282353                  0.21428571
7496988 0.1282353                  0.00000000
7496989 0.1282353                  0.04761905
7496990 0.1282353                  0.00000000
7496991 0.1282353                  0.07142857
7496992 0.1282353                  0.07142857
7496993 0.1282353                  0.23809524
7496994 0.1282353                  0.28571429
7496995 0.1282353                  0.21428571
7496996 0.1282353                  0.07142857
7496997 0.1282353                  0.00000000
7496998 0.1282353                  0.09523810
7496999 0.1282353                  0.14285714
7497000 0.1282353                  0.02380952
        date_cat_mean_lag_3 qmean_item_cnt qmax_item_cnt qstd_item_cnt
1        0                  0.0000000      0             0.0000000
2        0                  0.0000000      0             0.0000000
3        0                  0.0000000      0             0.0000000
4       19                  0.0000000      0             0.0000000
5       19                  0.0000000      0             0.0000000
6       19                  0.0000000      0             0.0000000
7       19                  0.0000000      0             0.0000000
8       19                  0.0000000      0             0.0000000
9       19                  0.0000000      0             0.0000000
10      19                  0.0000000      0             0.0000000
11      19                  0.0000000      0             0.0000000
12      19                  0.0000000      0             0.0000000
13      19                  0.0000000      0             0.0000000
14      19                  0.0000000      0             0.0000000
15      19                  0.0000000      0             0.0000000
16      19                  0.0000000      0             0.0000000
17      19                  0.0000000      0             0.0000000
18      19                  0.0000000      0             0.0000000
19      19                  0.0000000      0             0.0000000
20      19                  0.0000000      0             0.0000000
21      19                  0.0000000      0             0.0000000
22      19                  0.3333333      1             0.5773503
23      19                  0.3333333      1             0.5773503
24      19                  0.6666667      1             0.5773503
25      19                  1.0000000      2             1.0000000
26      19                  1.6666667      2             0.5773503
27      19                  1.3333333      2             1.1547005
28      19                  0.6666667      2             1.1547005
29      19                  0.0000000      0             0.0000000
30      19                  0.3333333      1             0.5773503
<U+22EE>       <U+22EE>            <U+22EE>       <U+22EE>      <U+22EE>
7496971 37                  0.0000000      0             0.0000000
7496972 30                  0.0000000      0             0.0000000
7496973 38                  0.0000000      0             0.0000000
7496974 58                  0.0000000      0             0.0000000
7496975 30                  0.0000000      0             0.0000000
7496976 21                  0.0000000      0             0.0000000
7496977 37                  0.0000000      0             0.0000000
7496978 40                  0.0000000      0             0.0000000
7496979 38                  0.0000000      0             0.0000000
7496980 30                  0.0000000      0             0.0000000
7496981 40                  0.0000000      0             0.0000000
7496982 72                  0.3333333      1             0.5773503
7496983  3                  0.0000000      0             0.0000000
7496984 37                  0.0000000      0             0.0000000
7496985 37                  0.0000000      0             0.0000000
7496986 40                  0.0000000      0             0.0000000
7496987 40                  0.0000000      0             0.0000000
7496988 19                  0.3333333      1             0.5773503
7496989 40                  0.0000000      0             0.0000000
7496990 64                  0.0000000      0             0.0000000
7496991 55                  0.0000000      0             0.0000000
7496992 22                  0.0000000      0             0.0000000
7496993 22                  0.0000000      0             0.0000000
7496994 70                  0.0000000      0             0.0000000
7496995 70                  0.0000000      0             0.0000000
7496996 55                  0.3333333      1             0.5773503
7496997 64                  0.0000000      0             0.0000000
7496998 55                  0.0000000      0             0.0000000
7496999 40                  0.0000000      0             0.0000000
7497000 37                  0.0000000      0             0.0000000
        qmin_item_cnt
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      1
27      0
28      0
29      0
30      0
<U+22EE>       <U+22EE>
7496971 0
7496972 0
7496973 0
7496974 0
7496975 0
7496976 0
7496977 0
7496978 0
7496979 0
7496980 0
7496981 0
7496982 0
7496983 0
7496984 0
7496985 0
7496986 0
7496987 0
7496988 0
7496989 0
7496990 0
7496991 0
7496992 0
7496993 0
7496994 0
7496995 0
7496996 0
7496997 0
7496998 0
7496999 0
7497000 0

In [13]:
minMax <- function(x) {
  (x - min(x)) / (max(x) - min(x))
}
y_min<-min(train_monthly$item_cnt_month)
y_max<-max(train_monthly$item_cnt_month)
train_monthly[,c('mean_item_cnt','mean_item_price','revenue_month','date_block_shop_mean','date_block_item_mean','date_block_item_mean_lag_1','date_block_item_mean_lag_2','date_block_item_mean_lag_3','date_block_shop_mean_lag_1','date_block_shop_mean_lag_2','date_block_shop_mean_lag_3','item_cnt_month_lag_1','revenue_month_lag_1','mean_item_cnt_lag_1','mean_item_price_lag_1','item_cnt_month_lag_2','revenue_month_lag_2','mean_item_cnt_lag_2','mean_item_price_lag_2','item_cnt_month_lag_3','revenue_month_lag_3','mean_item_cnt_lag_3','mean_item_price_lag_3','date_cat_mean','date_cat_mean_lag_1','date_cat_mean_lag_2','date_cat_mean_lag_3')]<-apply(train_monthly[,c('mean_item_cnt','mean_item_price','revenue_month','date_block_shop_mean','date_block_item_mean','date_block_item_mean_lag_1','date_block_item_mean_lag_2','date_block_item_mean_lag_3','date_block_shop_mean_lag_1','date_block_shop_mean_lag_2','date_block_shop_mean_lag_3','item_cnt_month_lag_1','revenue_month_lag_1','mean_item_cnt_lag_1','mean_item_price_lag_1','item_cnt_month_lag_2','revenue_month_lag_2','mean_item_cnt_lag_2','mean_item_price_lag_2','item_cnt_month_lag_3','revenue_month_lag_3','mean_item_cnt_lag_3','mean_item_price_lag_3','date_cat_mean','date_cat_mean_lag_1','date_cat_mean_lag_2','date_cat_mean_lag_3')],2,minMax)

In [14]:
clip<-function(x){
    ifelse(x>20,20,ifelse(x<0,0,x))
}

In [15]:
train<-train_monthly[(train_monthly$date_block_num<33&train_monthly$date_block_num>2),-which(names(train_monthly) %in% c('mean_item_price','revenue_month','mean_item_cnt', 'date_block_shop_mean','date_block_item_mean','date_cat_mean'))]
valid<-train_monthly[train_monthly$date_block_num==33,-which(names(train_monthly) %in% c('mean_item_price','revenue_month','mean_item_cnt','date_block_shop_mean','date_block_item_mean','date_cat_mean'))]
test<-train_monthly[train_monthly$date_block_num==34,-which(names(train_monthly) %in% c('item_cnt_month','mean_item_price','revenue_month','mean_item_cnt','date_block_shop_mean','date_block_item_mean','date_cat_mean'))]
tem<-glm(item_cnt_month~.,data=train, na.action = na.exclude)#glm(item_cnt_month~.,data=train)
summary(tem)
sqrt(mean((clip(predict(tem, train))-train[,'item_cnt_month'])^2))
sqrt(mean((clip(predict(tem, valid))-valid[,'item_cnt_month'])^2))

Call:
glm(formula = item_cnt_month ~ ., data = train, na.action = na.exclude)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-19.6972   -0.0977   -0.0449   -0.0032   20.0572

Coefficients: (4 not defined because of singularities)
                             Estimate Std. Error  t value Pr(>|t|)
(Intercept)                -8.544e-03  1.419e-03   -6.021 1.73e-09 ***
date_block_num             -7.049e-04  3.812e-05  -18.491  < 2e-16 ***
shop_id                     1.966e-05  1.752e-05    1.122    0.262
item_category_id           -1.083e-03  1.924e-05  -56.307  < 2e-16 ***
item_id                    -1.198e-06  5.113e-08  -23.428  < 2e-16 ***
month                       1.172e-02  9.802e-05  119.612  < 2e-16 ***
item_cnt_month_lag_1        6.782e+00  2.140e-02  316.966  < 2e-16 ***
revenue_month_lag_1         5.835e+00  3.941e-01   14.808  < 2e-16 ***
mean_item_cnt_lag_1         9.661e+00  4.769e-01   20.258  < 2e-16 ***
mean_item_price_lag_1      -2.985e+00  3.872e-02  -77.091  < 2e-16 ***
date_block_shop_mean_lag_1  2.016e-01  8.031e-03   25.107  < 2e-16 ***
date_block_item_mean_lag_1  5.369e+00  1.575e-02  340.933  < 2e-16 ***
date_cat_mean_lag_1                NA         NA       NA       NA
item_cnt_month_lag_2        2.705e+00  2.031e-02  133.153  < 2e-16 ***
revenue_month_lag_2         1.379e+01  4.076e-01   33.823  < 2e-16 ***
mean_item_cnt_lag_2        -5.913e+00  4.825e-01  -12.255  < 2e-16 ***
mean_item_price_lag_2       2.213e-01  3.278e-02    6.752 1.46e-11 ***
date_block_shop_mean_lag_2  2.018e-01  9.569e-03   21.092  < 2e-16 ***
date_block_item_mean_lag_2 -2.245e+00  1.790e-02 -125.447  < 2e-16 ***
date_cat_mean_lag_2                NA         NA       NA       NA
item_cnt_month_lag_3        1.432e+00  2.232e-02   64.187  < 2e-16 ***
revenue_month_lag_3         3.860e+00  3.975e-01    9.710  < 2e-16 ***
mean_item_cnt_lag_3         6.095e+00  4.809e-01   12.675  < 2e-16 ***
mean_item_price_lag_3       9.408e-01  3.216e-02   29.253  < 2e-16 ***
date_block_shop_mean_lag_3  1.744e-01  8.204e-03   21.260  < 2e-16 ***
date_block_item_mean_lag_3 -2.866e-01  1.566e-02  -18.297  < 2e-16 ***
date_cat_mean_lag_3                NA         NA       NA       NA
qmean_item_cnt                     NA         NA       NA       NA
qmax_item_cnt              -3.252e-01  5.467e-03  -59.477  < 2e-16 ***
qstd_item_cnt               6.025e-01  9.218e-03   65.367  < 2e-16 ***
qmin_item_cnt               5.348e-01  4.820e-03  110.958  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.6076857)

    Null deviance: 7256853  on 6425999  degrees of freedom
Residual deviance: 3904972  on 6425973  degrees of freedom
AIC: 15035453

Number of Fisher Scoring iterations: 2

Warning message in predict.lm(object, newdata, se.fit, scale = 1, type = if (type == :
"prediction from a rank-deficient fit may be misleading"

[1] 0.7792925

Warning message in predict.lm(object, newdata, se.fit, scale = 1, type = if (type == :
"prediction from a rank-deficient fit may be misleading"

[1] 0.9007641

In [16]:
tem_2<-glm(item_cnt_month~date_block_num+item_category_id+item_id+month+item_cnt_month_lag_1+revenue_month_lag_1+mean_item_cnt_lag_1+mean_item_price_lag_1+date_block_shop_mean_lag_1+date_block_item_mean_lag_1+item_cnt_month_lag_2+revenue_month_lag_2+mean_item_cnt_lag_2+date_block_shop_mean_lag_2+date_block_item_mean_lag_2+item_cnt_month_lag_3+revenue_month_lag_3+mean_item_cnt_lag_3+mean_item_price_lag_3+date_block_shop_mean_lag_3+date_block_item_mean_lag_3+qmax_item_cnt+qstd_item_cnt+qmin_item_cnt,data=train, na.action = na.exclude)
summary(tem_2)
sqrt(mean((clip(predict(tem_2, train))-train[,'item_cnt_month'])^2))
sqrt(mean((clip(predict(tem_2, valid))-valid[,'item_cnt_month'])^2))

Call:
glm(formula = item_cnt_month ~ date_block_num + item_category_id +
    item_id + month + item_cnt_month_lag_1 + revenue_month_lag_1 +
    mean_item_cnt_lag_1 + mean_item_price_lag_1 + date_block_shop_mean_lag_1 +
    date_block_item_mean_lag_1 + item_cnt_month_lag_2 + revenue_month_lag_2 +
    mean_item_cnt_lag_2 + date_block_shop_mean_lag_2 + date_block_item_mean_lag_2 +
    item_cnt_month_lag_3 + revenue_month_lag_3 + mean_item_cnt_lag_3 +
    mean_item_price_lag_3 + date_block_shop_mean_lag_3 + date_block_item_mean_lag_3 +
    qmax_item_cnt + qstd_item_cnt + qmin_item_cnt, data = train,
    na.action = na.exclude)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-19.5357   -0.0977   -0.0449   -0.0033   20.0577

Coefficients:
                             Estimate Std. Error  t value Pr(>|t|)
(Intercept)                -7.807e-03  1.310e-03   -5.959 2.53e-09 ***
date_block_num             -7.025e-04  3.812e-05  -18.431  < 2e-16 ***
item_category_id           -1.086e-03  1.924e-05  -56.461  < 2e-16 ***
item_id                    -1.201e-06  5.113e-08  -23.486  < 2e-16 ***
month                       1.172e-02  9.802e-05  119.600  < 2e-16 ***
item_cnt_month_lag_1        6.770e+00  2.132e-02  317.475  < 2e-16 ***
revenue_month_lag_1         5.810e+00  3.940e-01   14.744  < 2e-16 ***
mean_item_cnt_lag_1         9.500e+00  4.763e-01   19.947  < 2e-16 ***
mean_item_price_lag_1      -2.896e+00  3.641e-02  -79.529  < 2e-16 ***
date_block_shop_mean_lag_1  2.017e-01  8.030e-03   25.120  < 2e-16 ***
date_block_item_mean_lag_1  5.369e+00  1.575e-02  340.932  < 2e-16 ***
item_cnt_month_lag_2        2.711e+00  2.029e-02  133.625  < 2e-16 ***
revenue_month_lag_2         1.408e+01  4.053e-01   34.753  < 2e-16 ***
mean_item_cnt_lag_2        -5.216e+00  4.713e-01  -11.066  < 2e-16 ***
date_block_shop_mean_lag_2  2.023e-01  9.569e-03   21.143  < 2e-16 ***
date_block_item_mean_lag_2 -2.247e+00  1.789e-02 -125.616  < 2e-16 ***
item_cnt_month_lag_3        1.421e+00  2.226e-02   63.866  < 2e-16 ***
revenue_month_lag_3         4.035e+00  3.967e-01   10.172  < 2e-16 ***
mean_item_cnt_lag_3         5.827e+00  4.792e-01   12.159  < 2e-16 ***
mean_item_price_lag_3       1.026e+00  2.959e-02   34.671  < 2e-16 ***
date_block_shop_mean_lag_3  1.743e-01  8.204e-03   21.241  < 2e-16 ***
date_block_item_mean_lag_3 -2.812e-01  1.564e-02  -17.975  < 2e-16 ***
qmax_item_cnt              -3.241e-01  5.465e-03  -59.304  < 2e-16 ***
qstd_item_cnt               6.013e-01  9.216e-03   65.247  < 2e-16 ***
qmin_item_cnt               5.345e-01  4.820e-03  110.891  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.60769)

    Null deviance: 7256853  on 6425999  degrees of freedom
Residual deviance: 3905000  on 6425975  degrees of freedom
AIC: 15035496

Number of Fisher Scoring iterations: 2

[1] 0.7792975

[1] 0.9007872

In [17]:
test_y<-predict(tem_2, test)#(predict(tem_2, test)*(y_max-y_min))+y_min
test_y<-clip(test_y)#ifelse(test_y>20,20,ifelse(test_y<0,0,test_y))

In [18]:
results <- data.frame (ID  = testData$ID,
                  item_cnt_month = test_y
                  )

In [19]:
write.csv(results,file="results/data.csv",row.names = FALSE)
rm(list=c('tem','tem_2','test_y','results'))

In [20]:
library(glmnet)
x_train <- model.matrix(item_cnt_month~., train)[,-1]
y_train<-train$item_cnt_month
x_valid <- model.matrix(item_cnt_month~., valid)[,-1]
y_valid<-valid$item_cnt_month
x_test <- data.matrix(test)
ridge_mod_cv = cv.glmnet(x_train, y_train,nfolds=6, alpha = 0)
fit <- glmnet(x_train, y_train, alpha = 0)
sqrt(mean((clip(predict(fit, s = ridge_mod_cv$lambda.min, newx = x_train))-train[,'item_cnt_month'])^2))
sqrt(mean((clip(predict(fit, s = ridge_mod_cv$lambda.min, newx = x_valid))-valid[,'item_cnt_month'])^2))
test_y<-predict(fit,s = ridge_mod_cv$lambda.min,newx=x_test)
test_y<-clip(test_y)
results <- data.frame (ID  = testData$ID,
                  item_cnt_month = test_y
                  )
colnames(results)<-c('ID','item_cnt_month')
write.csv(results,file="results/data_1.csv",row.names = FALSE)
rm(list=c('x_train','y_train','x_valid','y_valid','x_test','fit','results','ridge_mod_cv'))

Loading required package: Matrix


Attaching package: 'Matrix'


The following objects are masked from 'package:tidyr':

    expand, pack, unpack


Loaded glmnet 4.1-3

[1] 0.7801895

[1] 0.8987865

In [21]:
# library(rpart)

In [22]:
# # gc()
# fit <- rpart(item_cnt_month~., 
#              method = "anova",maxdepth=9,data = train)

In [23]:
# sqrt(mean((clip(predict(fit,train,method="anova"))-train[,'item_cnt_month'])^2))
# sqrt(mean((clip(predict(fit,valid,method="anova"))-valid[,'item_cnt_month'])^2))
# test_y<-predict(fit, test,method="anova")#(predict(tem_2, test)*(y_max-y_min))+y_min
# test_y<-clip(test_y)#ifelse(test_y>20,20,ifelse(test_y<0,0,test_y))
# test_y
# results_1 <- data.frame (ID  = testData$ID,
#                   item_cnt_month = test_y
#                   )
# results_1

In [24]:
# write.csv(results_1,file="results/data_2.csv",row.names = FALSE)