In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0      v purrr   0.3.4
v tibble  3.1.6      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
sales_Data <- read.csv('competitive-data-science-predict-future-sales/sales_train.csv')
testData <- read.csv('competitive-data-science-predict-future-sales/test.csv')
itemsData <- read.csv('competitive-data-science-predict-future-sales/items.csv')
shopsData <- read.csv('competitive-data-science-predict-future-sales/shops.csv')
itemsCatData <- read.csv('competitive-data-science-predict-future-sales/item_categories.csv')

In [3]:
sales_Data

        date       date_block_num shop_id item_id item_price item_cnt_day
1       02.01.2013 0              59      22154    999.00     1
2       03.01.2013 0              25       2552    899.00     1
3       05.01.2013 0              25       2552    899.00    -1
4       06.01.2013 0              25       2554   1709.05     1
5       15.01.2013 0              25       2555   1099.00     1
6       10.01.2013 0              25       2564    349.00     1
7       02.01.2013 0              25       2565    549.00     1
8       04.01.2013 0              25       2572    239.00     1
9       11.01.2013 0              25       2572    299.00     1
10      03.01.2013 0              25       2573    299.00     3
11      03.01.2013 0              25       2574    399.00     2
12      05.01.2013 0              25       2574    399.00     1
13      07.01.2013 0              25       2574    399.00     1
14      08.01.2013 0              25       2574    399.00     2
15      10.01.2013 0              25       2574    399.00     1
16      11.01.2013 0              25       2574    399.00     2
17      13.01.2013 0              25       2574    399.00     1
18      16.01.2013 0              25       2574    399.00     1
19      26.01.2013 0              25       2574    399.00     1
20      27.01.2013 0              25       2574    399.00     1
21      09.01.2013 0              25       2593    279.00     1
22      16.01.2013 0              25       2604    299.00     1
23      27.01.2013 0              25       2604    299.00     1
24      27.01.2013 0              25       2607    279.00     1
25      29.01.2013 0              25       2607    279.00     1
26      27.01.2013 0              25       2609   1699.00     1
27      06.01.2013 0              25       2548   1708.95     1
28      26.01.2013 0              25       2611    299.00     1
29      02.01.2013 0              25       2546    299.00     1
30      06.01.2013 0              25       2515   1649.00     1
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
2935820 16.10.2015 33             25      7789    1799.0     1
2935821 22.10.2015 33             25      7790     799.0     1
2935822 22.10.2015 33             25      7791     899.5     1
2935823 17.10.2015 33             25      7632    2310.0     1
2935824 26.10.2015 33             25      7487     299.0     1
2935825 14.10.2015 33             25      7029     999.0     1
2935826 23.10.2015 33             25      7460     299.0     1
2935827 04.10.2015 33             25      7233     599.0     1
2935828 18.10.2015 33             25      7308     349.0     1
2935829 21.10.2015 33             25      7233     479.0     1
2935830 03.10.2015 33             25      7233     599.0     1
2935831 11.10.2015 33             25      7286     299.0     1
2935832 22.10.2015 33             25      7187     299.0     1
2935833 26.10.2015 33             25      7484     299.0     1
2935834 22.10.2015 33             25      7308     349.0     1
2935835 29.10.2015 33             25      7235     298.0     1
2935836 18.10.2015 33             25      7327     349.0     1
2935837 22.10.2015 33             25      7327     349.0     1
2935838 24.10.2015 33             25      7328     249.0     1
2935839 17.10.2015 33             25      7338     349.0     1
2935840 24.10.2015 33             25      7315     399.0     1
2935841 31.10.2015 33             25      7409     299.0     1
2935842 11.10.2015 33             25      7393     349.0     1
2935843 10.10.2015 33             25      7384     749.0     1
2935844 09.10.2015 33             25      7409     299.0     1
2935845 10.10.2015 33             25      7409     299.0     1
2935846 09.10.2015 33             25      7460     299.0     1
2935847 14.10.2015 33             25      7459     349.0     1
2935848 22.10.2015 33             25      7440     299.0     1
2935849 03.10.2015 33             25      7460     299.0     1

In [6]:
monthly_sales<-sales_Data%>%group_by(date_block_num,shop_id,item_id)%>%summarise(min_date=min(date),max_date=max(date),mean_price=mean(item_price),item_cnt_month=sum(item_cnt_day))
monthly_sales

`summarise()` has grouped output by 'date_block_num', 'shop_id'. You can override using the `.groups` argument.

        date_block_num shop_id item_id min_date   max_date   mean_price
1       0              0        32     03.01.2013 31.01.2013  221.0
2       0              0        33     03.01.2013 28.01.2013  347.0
3       0              0        35     31.01.2013 31.01.2013  247.0
4       0              0        43     31.01.2013 31.01.2013  221.0
5       0              0        51     13.01.2013 31.01.2013  128.5
6       0              0        61     10.01.2013 10.01.2013  195.0
7       0              0        75     17.01.2013 17.01.2013   76.0
8       0              0        88     16.01.2013 16.01.2013   76.0
9       0              0        95     06.01.2013 06.01.2013  193.0
10      0              0        96     10.01.2013 10.01.2013   70.0
11      0              0        98     04.01.2013 31.01.2013  268.0
12      0              0       111     17.01.2013 17.01.2013   89.0
13      0              0       149     11.01.2013 28.01.2013   99.0
14      0              0       151     16.01.2013 16.01.2013   75.0
15      0              0       153     09.01.2013 09.01.2013  258.0
16      0              0       198     10.01.2013 10.01.2013  112.0
17      0              0       210     05.01.2013 25.01.2013  118.0
18      0              0       282     04.01.2013 04.01.2013  109.0
19      0              0       306     22.01.2013 22.01.2013   59.0
20      0              0       351     21.01.2013 21.01.2013   89.0
21      0              0       421     07.01.2013 07.01.2013  162.0
22      0              0       438     31.01.2013 31.01.2013  162.0
23      0              0       482     09.01.2013 14.01.2013 1360.0
24      0              0       484     09.01.2013 30.01.2013  124.0
25      0              0       491     27.01.2013 27.01.2013  361.0
26      0              0       498     19.01.2013 19.01.2013  124.0
27      0              0       556     15.01.2013 25.01.2013   90.0
28      0              0       642     06.01.2013 20.01.2013   90.0
29      0              0       651     09.01.2013 25.01.2013   90.0
30      0              0       657     03.01.2013 18.01.2013   90.0
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>   <U+22EE>
1609095 33             59      19894   23.10.2015 23.10.2015  199
1609096 33             59      19985   11.10.2015 11.10.2015  299
1609097 33             59      20303   07.10.2015 07.10.2015  399
1609098 33             59      20305   09.10.2015 09.10.2015  449
1609099 33             59      20335   23.10.2015 23.10.2015 1149
1609100 33             59      20355   30.10.2015 30.10.2015 1249
1609101 33             59      20392   06.10.2015 06.10.2015 2199
1609102 33             59      20604   20.10.2015 23.10.2015  999
1609103 33             59      20614   09.10.2015 09.10.2015 1099
1609104 33             59      20629   26.10.2015 26.10.2015 2399
1609105 33             59      20730   31.10.2015 31.10.2015  499
1609106 33             59      20751   10.10.2015 10.10.2015  699
1609107 33             59      20866   01.10.2015 31.10.2015  699
1609108 33             59      20949   02.10.2015 31.10.2015    5
1609109 33             59      21361   08.10.2015 08.10.2015 1999
1609110 33             59      21364   24.10.2015 24.10.2015  399
1609111 33             59      21369   10.10.2015 31.10.2015  169
1609112 33             59      21377   24.10.2015 24.10.2015  169
1609113 33             59      21386   08.10.2015 08.10.2015  169
1609114 33             59      21404   10.10.2015 16.10.2015  169
1609115 33             59      21427   04.10.2015 04.10.2015  169
1609116 33             59      21449   30.10.2015 31.10.2015  449
1609117 33             59      21672   14.10.2015 14.10.2015  249
1609118 33             59      21811   27.10.2015 27.10.2015  199
1609119 33             59      21812   17.10.2015 17.10.2015   99
1609120 33             59      22087   05.10.2015 23.10.2015  119
1609121 33             59      22088   03.10.2015 27.10.2015  119
1609122 33             59      22091   03.10.2015 03.10.2015  179
1609123 33             59      22100   18.10.2015 18.10.2015  629
1609124 33             59      22102   16.10.2015 16.10.2015 1250
        item_cnt_month
1        6
2        3
3        1
4        1
5        2
6        1
7        1
8        1
9        1
10       1
11      25
12       1
13       3
14       1
15       1
16       1
17       2
18       1
19       1
20       1
21       1
22       1
23       2
24       4
25       1
26       1
27       9
28       6
29       7
30       2
<U+22EE>       <U+22EE>
1609095  1
1609096  1
1609097  1
1609098  1
1609099  1
1609100  1
1609101  1
1609102  2
1609103  1
1609104  1
1609105  1
1609106  1
1609107  4
1609108 19
1609109  1
1609110  1
1609111  2
1609112  1
1609113  1
1609114  1
1609115  1
1609116  2
1609117  1
1609118  1
1609119  1
1609120  6
1609121  2
1609122  1
1609123  1
1609124  1

In [14]:
ts<-sales_Data%>%group_by(date_block_num)%>%transmute(date_block_num,n=sum(item_cnt_day))%>%distinct(date_block_num,n)
ts

   date_block_num n
1   0             131479
2   1             128090
3   2             147142
4   3             107190
5   4             106970
6   5             125381
7   6             116966
8   7             125291
9   8             133332
10  9             127541
11 10             130009
12 11             183342
13 12             116899
14 13             109687
15 14             115297
16 15              96556
17 16              97790
18 17              97429
19 18              91280
20 19             102721
21 20              99208
22 21             107422
23 22             117845
24 23             168755
25 24             110971
26 25              84198
27 26              82014
28 27              77827
29 28              72295
30 29              64114
31 30              63187
32 31              66079
33 32              72843
34 33              71056