In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0      v purrr   0.3.4
v tibble  3.1.6      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
sales_Data <- read.csv('competitive-data-science-predict-future-sales/sales_train.csv')
testData <- read.csv('competitive-data-science-predict-future-sales/test.csv')
itemsData <- read.csv('competitive-data-science-predict-future-sales/items.csv')
shopsData <- read.csv('competitive-data-science-predict-future-sales/shops.csv')
itemsCatData <- read.csv('competitive-data-science-predict-future-sales/item_categories.csv')

In [3]:
sales_Data

        date       date_block_num shop_id item_id item_price item_cnt_day
1       02.01.2013 0              59      22154    999.00     1
2       03.01.2013 0              25       2552    899.00     1
3       05.01.2013 0              25       2552    899.00    -1
4       06.01.2013 0              25       2554   1709.05     1
5       15.01.2013 0              25       2555   1099.00     1
6       10.01.2013 0              25       2564    349.00     1
7       02.01.2013 0              25       2565    549.00     1
8       04.01.2013 0              25       2572    239.00     1
9       11.01.2013 0              25       2572    299.00     1
10      03.01.2013 0              25       2573    299.00     3
11      03.01.2013 0              25       2574    399.00     2
12      05.01.2013 0              25       2574    399.00     1
13      07.01.2013 0              25       2574    399.00     1
14      08.01.2013 0              25       2574    399.00     2
15      10.01.2013 0              25       2574    399.00     1
16      11.01.2013 0              25       2574    399.00     2
17      13.01.2013 0              25       2574    399.00     1
18      16.01.2013 0              25       2574    399.00     1
19      26.01.2013 0              25       2574    399.00     1
20      27.01.2013 0              25       2574    399.00     1
21      09.01.2013 0              25       2593    279.00     1
22      16.01.2013 0              25       2604    299.00     1
23      27.01.2013 0              25       2604    299.00     1
24      27.01.2013 0              25       2607    279.00     1
25      29.01.2013 0              25       2607    279.00     1
26      27.01.2013 0              25       2609   1699.00     1
27      06.01.2013 0              25       2548   1708.95     1
28      26.01.2013 0              25       2611    299.00     1
29      02.01.2013 0              25       2546    299.00     1
30      06.01.2013 0              25       2515   1649.00     1
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
2935820 16.10.2015 33             25      7789    1799.0     1
2935821 22.10.2015 33             25      7790     799.0     1
2935822 22.10.2015 33             25      7791     899.5     1
2935823 17.10.2015 33             25      7632    2310.0     1
2935824 26.10.2015 33             25      7487     299.0     1
2935825 14.10.2015 33             25      7029     999.0     1
2935826 23.10.2015 33             25      7460     299.0     1
2935827 04.10.2015 33             25      7233     599.0     1
2935828 18.10.2015 33             25      7308     349.0     1
2935829 21.10.2015 33             25      7233     479.0     1
2935830 03.10.2015 33             25      7233     599.0     1
2935831 11.10.2015 33             25      7286     299.0     1
2935832 22.10.2015 33             25      7187     299.0     1
2935833 26.10.2015 33             25      7484     299.0     1
2935834 22.10.2015 33             25      7308     349.0     1
2935835 29.10.2015 33             25      7235     298.0     1
2935836 18.10.2015 33             25      7327     349.0     1
2935837 22.10.2015 33             25      7327     349.0     1
2935838 24.10.2015 33             25      7328     249.0     1
2935839 17.10.2015 33             25      7338     349.0     1
2935840 24.10.2015 33             25      7315     399.0     1
2935841 31.10.2015 33             25      7409     299.0     1
2935842 11.10.2015 33             25      7393     349.0     1
2935843 10.10.2015 33             25      7384     749.0     1
2935844 09.10.2015 33             25      7409     299.0     1
2935845 10.10.2015 33             25      7409     299.0     1
2935846 09.10.2015 33             25      7460     299.0     1
2935847 14.10.2015 33             25      7459     349.0     1
2935848 22.10.2015 33             25      7440     299.0     1
2935849 03.10.2015 33             25      7460     299.0     1

In [4]:
sales_Data$date<-as.Date(sales_Data$date,format = "%d.%m.%Y")
sales_Data<-sales_Data %>% arrange(sales_Data$date)

In [5]:
train_monthly<-sales_Data%>%inner_join(itemsData,by = "item_id")%>%filter((item_price<5000)&(item_cnt_day < 1000)&(item_price > 0) & (item_cnt_day >= 0))%>%transmute(date,date_block_num,shop_id,item_category_id, item_id, item_price, item_cnt_day,revenue=item_price*item_cnt_day)
train_monthly

        date       date_block_num shop_id item_category_id item_id item_price
1       2013-01-01 0              19      40               18976    399
2       2013-01-01 0              19      55               18284    199
3       2013-01-01 0              19      55               18320    199
4       2013-01-01 0              19      55               18329    299
5       2013-01-01 0              19      62               19367    399
6       2013-01-01 0              19      40               18823    299
7       2013-01-01 0              19      30               19413    399
8       2013-01-01 0              19      62               19366    399
9       2013-01-01 0              19      40               18721    149
10      2013-01-01 0              19      40               18638    149
11      2013-01-01 0              19      30               21996    224
12      2013-01-01 0              19      83               22088     79
13      2013-01-01 0              19      40               21584    149
14      2013-01-01 0              19      72               20388   1599
15      2013-01-01 0              19      40               20236    299
16      2013-01-01 0              19      40               20237    299
17      2013-01-01 0              19      30               20946    449
18      2013-01-01 0              19      40               21422    149
19      2013-01-01 0              19      40               21424    399
20      2013-01-01 0              19      40               14038    149
21      2013-01-01 0              19      40               14083    399
22      2013-01-01 0              19      40               16662    149
23      2013-01-01 0              19      55               16934    189
24      2013-01-01 0              19      37               16451    499
25      2013-01-01 0              19      55               16457    199
26      2013-01-01 0              19      19               17707    899
27      2013-01-01 0              19      40               15533    349
28      2013-01-01 0              19      30               16333    599
29      2013-01-01 0              19      40               15585    149
30      2013-01-01 0              19      19                3686    899
<U+22EE>       <U+22EE>   <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
2894862 2015-10-31 33             25      42                8543   1400
2894863 2015-10-31 33             25      40                8692    449
2894864 2015-10-31 33             25      40                8397    399
2894865 2015-10-31 33             25      20               10202   1199
2894866 2015-10-31 33             25      30               10207   1199
2894867 2015-10-31 33             25      40                9927    399
2894868 2015-10-31 33             25      70                9402    199
2894869 2015-10-31 33             25      70                9356    399
2894870 2015-10-31 33             25      28               10200    399
2894871 2015-10-31 33             25      28               10201    799
2894872 2015-10-31 33             25      37                9147    298
2894873 2015-10-31 33             25      58                6041   2749
2894874 2015-10-31 33             25      58                6345   1849
2894875 2015-10-31 33             25      55                6356    349
2894876 2015-10-31 33             25      19                6928   1499
2894877 2015-10-31 33             25      30                6503   1999
2894878 2015-10-31 33             25      20                6619   1398
2894879 2015-10-31 33             25      58                6837   1999
2894880 2015-10-31 33             25       5                5583    699
2894881 2015-10-31 33             25       3                5655   1290
2894882 2015-10-31 33             25       3                5675    249
2894883 2015-10-31 33             25      24                6070   1999
2894884 2015-10-31 33             25       7                7984    298
2894885 2015-10-31 33             25      20                7223   3999
2894886 2015-10-31 33             25      19                7215   1199
2894887 2015-10-31 33             25      30                7087    699
2894888 2015-10-31 33             25      20                7172   1499
2894889 2015-10-31 33             25      30                7202    199
2894890 2015-10-31 33             25      30                7780    198
2894891 2015-10-31 33             25      55                7409    299
        item_cnt_day revenue
1       1             399
2       1             199
3       1             199
4       1             299
5       1             399
6       1             299
7       1             399
8       1             399
9       1             149
10      1             149
11      1             224
12      2             158
13      1             149
14      2            3198
15      1             299
16      1             299
17      1             449
18      1             149
19      1             399
20      1             149
21      1             399
22      1             149
23      1             189
24      1             499
25      1             199
26      1             899
27      1             349
28      1             599
29      1             149
30      2            1798
<U+22EE>       <U+22EE>     <U+22EE>
2894862 3            4200
2894863 1             449
2894864 2             798
2894865 2            2398
2894866 2            2398
2894867 1             399
2894868 1             199
2894869 1             399
2894870 1             399
2894871 2            1598
2894872 1             298
2894873 1            2749
2894874 1            1849
2894875 1             349
2894876 1            1499
2894877 1            1999
2894878 1            1398
2894879 1            1999
2894880 1             699
2894881 1            1290
2894882 1             249
2894883 1            1999
2894884 1             298
2894885 2            7998
2894886 1            1199
2894887 1             699
2894888 1            1499
2894889 1             199
2894890 1             198
2894891 1             299

In [6]:
train_monthly<-train_monthly%>%transmute(date_block_num,shop_id, item_category_id, item_id,item_cnt_day,item_price,revenue)%>%group_by(date_block_num,shop_id, item_category_id, item_id)%>%summarize(item_cnt_month=sum(item_cnt_day),mean_item_cnt=mean(item_cnt_day),mean_item_price=mean(item_price),revenue_month=sum(revenue))
train_monthly

`summarise()` has grouped output by 'date_block_num', 'shop_id', 'item_category_id'. You can override using the
`.groups` argument.

        date_block_num shop_id item_category_id item_id item_cnt_month
1       0              0       2                 5572   10
2       0              0       2                 5573    1
3       0              0       2                 5575    4
4       0              0       2                 5576    5
5       0              0       2                 5609    1
6       0              0       2                 5612    1
7       0              0       2                 5623    1
8       0              0       2                 5627    2
9       0              0       2                 5629    9
10      0              0       2                 5630    1
11      0              0       2                 5632    3
12      0              0       2                 5635    2
13      0              0       2                 5641    1
14      0              0       2                 5643    6
15      0              0       2                13510    2
16      0              0       2                13517    4
17      0              0       3                13071   28
18      0              0       4                 1956    4
19      0              0       4                 1958    1
20      0              0       4                 5680    1
21      0              0       4                13101    1
22      0              0       4                13102    9
23      0              0       5                 5578    5
24      0              0       5                 5580    2
25      0              0       5                 5581    3
26      0              0       5                 5583    2
27      0              0       5                 5587    5
28      0              0       5                 5588    1
29      0              0       5                 5591    4
30      0              0       5                 5592    2
<U+22EE>       <U+22EE>       <U+22EE> <U+22EE>         <U+22EE> <U+22EE>
1590726 33             59      70                9356    1
1590727 33             59      70                9394    1
1590728 33             59      70                9402    1
1590729 33             59      70                9403    1
1590730 33             59      70                9407    1
1590731 33             59      70                9412    1
1590732 33             59      70                9422    1
1590733 33             59      70               15854    1
1590734 33             59      70               16287    1
1590735 33             59      70               17748    1
1590736 33             59      71               20949   19
1590737 33             59      72               20335    1
1590738 33             59      72               20355    1
1590739 33             59      72               20392    1
1590740 33             59      72               20604    2
1590741 33             59      72               20614    1
1590742 33             59      72               20629    1
1590743 33             59      72               20730    1
1590744 33             59      72               20751    1
1590745 33             59      72               20866    4
1590746 33             59      73                 491    1
1590747 33             59      73                 792    1
1590748 33             59      75                3014    1
1590749 33             59      75                4178    3
1590750 33             59      75                4181    7
1590751 33             59      75                5383    1
1590752 33             59      79               17717   13
1590753 33             59      83               22087    6
1590754 33             59      83               22088    2
1590755 33             59      83               22091    1
        mean_item_cnt mean_item_price revenue_month
1       1.666667      1322            13220
2       1.000000       560              560
3       1.333333       806             3224
4       1.000000      2231            11155
5       1.000000      2381             2381
6       1.000000      3623             3623
7       1.000000       294              294
8       1.000000      2060             4120
9       1.125000      1925            17325
10      1.000000      2060             2060
11      1.500000      2060             6180
12      1.000000      2060             4120
13      1.000000      2100             2100
14      1.200000      2060            12360
15      1.000000      2747             5494
16      1.000000      2791            11164
17      1.555556       242             6776
18      1.000000       131              524
19      1.000000        44               44
20      1.000000       263              263
21      1.000000      1806             1806
22      1.285714       966             8694
23      1.000000       823             4115
24      1.000000       274              548
25      1.000000       407             1221
26      1.000000       367              734
27      1.666667       126              630
28      1.000000       102              102
29      1.000000      1556             6224
30      1.000000      2864             5728
<U+22EE>       <U+22EE>      <U+22EE>        <U+22EE>
1590726 1.000000       399.00           399
1590727 1.000000       199.00           199
1590728 1.000000       199.00           199
1590729 1.000000       199.00           199
1590730 1.000000       349.00           349
1590731 1.000000       199.00           199
1590732 1.000000       449.00           449
1590733 1.000000       859.00           859
1590734 1.000000       199.00           199
1590735 1.000000       288.00           288
1590736 1.266667         5.00            95
1590737 1.000000      1149.00          1149
1590738 1.000000      1249.00          1249
1590739 1.000000      2199.00          2199
1590740 1.000000       999.00          1998
1590741 1.000000      1099.00          1099
1590742 1.000000      2399.00          2399
1590743 1.000000       499.00           499
1590744 1.000000       699.00           699
1590745 1.000000       699.00          2796
1590746 1.000000       480.00           480
1590747 1.000000       979.00           979
1590748 1.000000      1290.00          1290
1590749 1.500000      1590.00          4770
1590750 1.000000      1290.00          9030
1590751 1.000000      4390.00          4390
1590752 1.300000       802.55         11335
1590753 2.000000       119.00           714
1590754 1.000000       119.00           238
1590755 1.000000       179.00           179